<!DOCTYPE html>
<!--[if lte IE 8]><html id="ye-olde-ie" lang="en"><![endif]-->
<!--[if gt IE 8]><html id="ie" lang="en"><![endif]-->
<!--[if !IE ]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- endbuild -->
    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="skrollr-body">
    <section id="intro" data-_bstreetupper--500="transform:translate(0,0%);" data-_bstreetupper="transform:translate(0,-100%);">
        <header>
            <a href="http://coolnycprogram.com">
                <img src="assets/coolnyc-logo-blue.svg" alt="coolNYC">
            </a>
            <h2 id="tagline">A Con Edison program in partnership with ThinkEco</h2>
        </header>
        <div id="intro-sky-bg" data-start="background-position: 50% 0%; background-position-x: 50%;" data-_bstreetupper="background-position: 0% 0%; background-position-x: 0%"></div>
        <div id="intro-content-bg" data-start="height:100%;" data-_bstreetupper--1050="height:50%;"></div>
        <div id="intro-content">
            <div class="box" data-start="opacity:0;" data-_bstreetupper--1000="opacity:0" data-_bstreetupper--950="opacity:1;"><div class="asterick"><img src="../assets/asterick_black.svg"></div></div>
          <div id="intro-content-top" data-start="height:100%;" data-_bstreetupper--1050="height:50%;">
                <h1 id="intro-title">It's been another great year!</h1>
          </div>
          <div id="intro-content-bottom">
                <div id="intro-section">    
                    <span id="intro-year" data-start="opacity:0" data-_bstreetupper--1000="opacity:0" data-_bstreetupper--900="opacity:1">2014</span>
                    <span id="intro-text" data-start="opacity:0" data-_bstreetupper--850="opacity:0" data-_bstreetupper--750="opacity:1">
                        Now in it’s 4th year, coolNYC helps alleviate stress on the grid placed
                        by the 6 million AC units in the city that  contribute to 20% of peak load
                        in the summers. Members signed up to receive smartAC kits for their
                        window ACs, free of charge.
                    </span>
                </div>
          </div>
        </div>
        <footer>
          <div class="wrapper-large">
            <span id="intro-scroll"><img src="../assets/dropdown-arrow.png" alt="slidedown arrow"><br><h3>Scroll Down</h3></span>
          </div>
        </footer>
    </section>
    <section id="street-upper" data-_bstreetupper--500="transform:translate(0,100%);" data-_bstreetupper="transform:translate(0,0%);" data-_astreetupper="transform:translate(0,0%);" data-_bstreetlower="transform:translate(0,-100%);">
                <div id="street-content" data-start="height: 0rem; background-color: rgba(0,0,0,1)" data-_bstreetupper-208="height: 0rem; background-color: rgba(0,0,0,1)"  data-_bstreetupper-870="height: 25rem; background-color: rgba(0,0,0,.6)">
                        <div class="street-text" >
                            <h1 data-start="opacity: 0" data-_bstreetupper-1600="opacity: 0"  data-_bstreetupper-1700="opacity: 1"><span class="count">2032</span> units</h1>
                            <p data-start="opacity: 0" data-_bstreetupper-1700="opacity: 0"  data-_bstreetupper-1800="opacity: 1">Set up in the first lorem ipsum dolor sit amet, consectetur adipisng eit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Enim ad minim veniam, quis nostrud exercitation.</p>              
                        </div>
                <div class="top left white" data-start="display:none" data-_bstreetupper-1000="display:block; left: 0%" data-_bstreetupper-1300="left: 50%"></div>
                <div class="top right white" data-start="display:none" data-_bstreetupper-1000="display:block; transform:translate(15%,50%);" data-_bstreetupper-1500="transform: translate(-4%,50%)"></div>
                <div class="bottom" data-start="display:none" data-_bstreetupper="display:none" data-_bstreetupper-870="display:block"></div>
                <div class="top left blue" data-start="left: 15%" data-_bstreetupper-1900="left: 15%" data-_bstreetupper-2000="left: 50%"></div>
                <div class="top right blue" data-start="left: 150%" data-_bstreetupper-1900="left: 150%" data-_bstreetupper-2100="left: 50%"></div>
                <img src="../assets/asterick_white.svg" class="top asterick" data-_bstreetupper-1500="opacity: 0" data-_bstreetupper-1600="opacity: 1" data-_bstreetupper-2100="opacity: 1" data-_bstreetupper-2200="opacity: 0">
                <img src="../assets/asterick_blue.svg" class="top asterick" data-_bstreetupper-2100="opacity: 0" data-_bstreetupper-2200="opacity: 1;">
            </div>
            <div class="bottom" data-start="top: -1rem; " data-_bstreetupper="top: 0rem" data-_bstreetupper-1000="top: 38rem;"></div>
    </section>
     <section id="street-lower"  data-_astreetupper="transform:translate(0,100%);" data-_bstreetlower="transform:translate(0,0%);" data-_astreetlower="transform:translate(0,0%);" data-_bbrick="transform:translate(0,-100%)">
            <div id="map-wrapper">
                <img src="../assets/map.svg" id="map">
                <div class="layer one">
                    <div class="circle-outter" data-start="background-color: rgba(255,255,255,0)" data-_bstreetlower-1000="background-color: rgba(255,255,255,0)" data-_bstreetlower-1500="background-color: rgba(255,255,255,0.3)" data-start="background-color: rgba(255,255,255,0.3)" data-_bstreetlower-2800="background-color: rgba(255,255,255,0.3)" data-_bstreetlower-3100="background-color: rgba(255,255,255,0)">
                        <div class="circle-inner" data-start="background-color: rgba(255,255,255,0)" data-_bstreetlower-1200="background-color: rgba(255,255,255,0)" data-_bstreetlower-1500="background-color: rgba(255,255,255,0.6)" data-start="background-color: rgba(255,255,255,0.6)" data-_bstreetlower-2800="background-color: rgba(255,255,255,0.6)" data-_bstreetlower-3100="background-color: rgba(255,255,255,0)">
                            <h3 data-start="visibility:hidden" data-_bstreetlower-1300="visibility:hidden" data-_bstreetlower-1500="visibility:visible" data-start="visibility:visible" data-_bstreetlower-2700="visibility:visible" data-_bstreetlower-2800="visibility:hidden">32</h3>
                        </div>
                    </div>
                    <div class="line" data-start="width:0rem" data-_bstreetlower-1500="width:0rem" data-_bstreetlower-1700="width:10.5rem" data-start="width:10.5rem" data-_bstreetlower-2500="width:10.5rem" data-_bstreetlower-2700="width:0rem"></div>
                    <p data-start="opacity:0" data-_bstreetlower-1700="opacity:0" data-_bstreetlower-1900="opacity:1" data-start="opacity:1" data-_bstreetlower-2300="opacity:1" data-_bstreetlower-2500="opacity:0">Most area appointments lorem ipsum dolores arripit segun
amis avis puella est.</p>
                </div>
                <div class="layer two">
                    <div class="circle-outter" data-start="background-color: rgba(255,255,255,0)" data-_bstreetlower-2700="background-color: rgba(255,255,255,0)" data-_bstreetlower-3200="background-color: rgba(255,255,255,0.3)" data-start="opacity:.3" data-_bstreetlower-4600="background-color: rgba(255,255,255,0.3)" data-_bstreetlower-4900="background-color: rgba(255,255,255,0)">
                        <div class="circle-inner" data-start="background-color: rgba(255,255,255,0)" data-_bstreetlower-3000="background-color: rgba(255,255,255,0)" data-_bstreetlower-3200="background-color: rgba(255,255,255,0.6)" data-start="background-color: rgba(255,255,255,0.6)" data-_bstreetlower-4600="background-color: rgba(255,255,255,0.6)" data-_bstreetlower-4800="background-color: rgba(255,255,255,0)">
                            <h3 data-start="visibility:hidden" data-_bstreetlower-3200="visibility:hidden" data-_bstreetlower-3300="visibility:visible" data-start="visibility:visible" data-_bstreetlower-4500="visibility:visible" data-_bstreetlower-4600="visibility:hidden">1,043</h3>
                        </div>
                    </div>
                    <div class="line" data-start="width:0rem" data-_bstreetlower-3300="width:0rem" data-_bstreetlower-3500="width:10.5rem" data-start="width:10.5rem" data-_bstreetlower-4300="width:10.5rem" data-_bstreetlower-4500="width:0rem"></div>
                    <p data-start="opacity:0" data-_bstreetlower-3500="opacity:0" data-_bstreetlower-3700="opacity:1" data-start="opacity:1" data-_bstreetlower-4100="opacity:1" data-_bstreetlower-4300="opacity:0">Most installs orem ipsum dolor sit amet, consectetur adipis
sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
            <div id="map-header" >
                <h1 data-target="#map-header h1" data-_bstreetlower="left: -50%" data-_bstreetlower-800="left:50%">Here is an <span>area breakdown</span></h1>
            </div>
    </section>
    <section id="brick" data-_astreetlower="transform:translate(0,100%);" data-_bbrick="transform:translate(0,0%);" data-_abrick="transform:translate(0,0%);" data-_btaxi="transform:translate(0,-100%)">
        <div class="panel" data-_astreetlower="width:100%;" data-_bbrick="" data-_bbrick-500="width:50%"> </div>
        <div id="brick-content">
            <img src="../assets/line_black.svg" alt="line">
            <div>
           <h1>
               In New York City,
               the grid load that
               is used by ACs during
               the summer months
           </h1>
        </div>
        <div>
            <div class="circle" data-_bbrick-500="transform: scale(0,0); opacity: 0;" data-_bbrick-600="transform: scale(1,1); opacity: 1;">
                <h1>25%</h1>
            </div>
        </div>
    </section>
   <section id="taxi" data-_abrick="transform:translate(0,100%);" data-_btaxi="transform:translate(0,0%);" data-_ataxi="transform:translate(0,0%);" data-_bskyline="transform:translate(0,-100%)" >
        <div id="circle-wrapper">
            <div id="circles" >
              <span class="circle-1" data-_btaxi="transform:translate(0,-200%); opacity: 0;" data-_btaxi-500="transform:translate(0,0%); opacity: 1" >
                <div>
                    <h1><span>45</span>%</h1>
                    <p>Amount of equipment setup by installers</p>
                </div>
            </span>
              <span class="circle-2" data-_btaxi-1000="transform:translate(0,-200%); opacity: 0;" data-_btaxi-1500="transform:translate(0,0%); opacity: 1;">
                <div>
                  <h1>2578</h1>
                  <p>smartAC app downloads</p>
              </div></span>
              <span class="circle-3" data-_btaxi-2000="transform:translate(0,-200%); opacity: 0;" data-_btaxi-2500="transform:translate(0,0%); opacity: 1;">
                <div>
                    <h1><span>67</span>k</h1>
                    <p>mymodlet.com login throughout the summer</p>
              </div></span>
            </div>
        </div>   
    </section>
    <section id="skyline" data-_ataxi="transform:translate(0,100%);" data-_bskyline="transform:translate(0,0%);" data-_askyline="transform:translate(0,0%);" data-_bfence="transform:translate(0,-100%)" >
        <div class="triangle-1" data-_bskyline="transform: scale(1,1);" data-_bskyline-500="transform: scale(0.5,0.5);" data-_askyline=""></div>
        <div class="triangle-2" data-_bskyline="transform: scale(1,1);" data-_bskyline-500="transform: scale(0.5,0.5);"></div>
       <div class="skyline-container" data-_bskyline-500="transform:translate(0,0%);" data-_bskyline-1500="transform:translate(0,-100%)" data-_askyline="">
            <div class="skyline-content" >
               <h1>90% of users controlled<br>
                  their ACs with their phones</h1>
           </div>
       </div>
       <div class="skyline-container" data-_bskyline-1500="transform:translate(0,0%);" data-_bskyline-2500="transform:translate(0,-100%)">
            <div class="skyline-content" >
               <h1>90% of users controlled<br>
                  their ACs with their phones</h1>
           </div>
       </div>
    </section>
    <section id="fence" data-_askyline="transform:translate(0,100%);" data-_bfence="transform:translate(0,0%);" data-_afence="transform:translate(0,0%);" data-_bbridge="transform:translate(0,-100%)" >
        <div id="fence-content">
              <h1>90% of users controlled<br>
                 their ACs with their phones</h1>
         </div>   
    </section>
  <section id="bridge" data-_afence="transform:translate(0,100%);" data-_bbridge="transform:translate(0,0%);" data-_abridge="transform:translate(0,0%);" data-_bnycave="transform:translate(0,-100%)" >
        <div id="bridge-overlay"></div>
        <div id="bridge-content">
             <h1 data-_bbridge="opacity:0" data-_bbridge-300="opacity:1" data-_bbridge-800="opacity:1" data-_bbridge-1100="opacity:0">It was a cold summer in NYC.</h1>   
             <h1  data-_bbridge="opacity:0" data-_bbridge-1100="" data-_bbridge-1400="opacity:1" data-_bbridge-1900="opacity:1" data-_bbridge-2200="opacity:0">Conservation events were<br>
                called late in August.</h1>
            <div class="table" data-_bbridge="opacity:0" data-_bbridge-2200="" data-_bbridge-2500="opacity:1">
            <div class="row">
              <div class="col">Conservation events</div><div class="col">Average power saved</div>
            </div>
              <div class="row">
                <div class="col"><h2>8/27</h2></div><div class="col"><h2>22%</h2></div>
              </div>
              <div class="row">
                <div class="col"><h2>8/28</h2></div><div class="col"><h2>26%</h2></div>
              </div>   
              <div class="row">
                <div class="col"><h2>9/04</h2></div><div class="col"><h2>19%</h2></div>
              </div>
            </div>
        </div>

       </section>
    <section id="nycave" data-_abridge="transform:translate(0,100%);" data-_bnycave="transform:translate(0,0%); background-position:50% 0%;" data-_anycave="background-position:50% 100%">
            <h1 data-_start="opacity:1;" data-_bnycave-800="opacity:1;" data-_bnycave-1000="opacity:0;">90% of users controlled<br>
                their ACs with their phones</h1>  
                <h1 data-_bnycave-1200="opacity:0;" data-_bnycave-1500="opacity:1;">90% of users controlled<br>
                    their ACs with their phones</h1>  
    </section>
<!--     <section id="balloons" >
        <div class="wrapper-large">
            <div id="clouds-bg" class="wrapper-small">
                <img src="assets/balloon-cloud-small.png" id="balloon-cloud-small" data-_bballoons="left:335px" data-_aballoons="left:345px">
                <img src="assets/balloon-cloud-small-flipped.png" id="balloon-cloud-small-flipped" data-_bballoons="right: 55px" data-_aballoons="right: 66px">
            </div>
            <div id="clouds-mg">
                <img src="assets/balloon-cloud.png" id="balloon-cloud-1" data-_bballoons="right: 555px" data-_aballoons="right: 595px">
                <img src="assets/balloon-cloud.png" id="balloon-cloud-2" data-_bballoons="left:-80px" data-_aballoons="left: -20px">
                <img src="assets/balloon-cloud-big.png" id="balloon-cloud-big" data-_bballoons="right: -50px" data-_aballoons="right: 0px">
            </div>
            <img src="assets/balloon-1.png" id="balloon-1" data-start="top:0px" data-_bballoons="top:200px" data-_aballoons="top: -80px">
            <img src="assets/balloon-2.png" id="balloon-2" data-_bballoons="top:90px" data-_aballoons="top:10px">
            <div class="wrapper-small">
                <img src="assets/balloon-3.png" id="balloon-3" data-_bballoons="top:-70px" data-_aballoons="top:-103px">
            </div>
            <div id="clouds-fg">
                <img src="assets/balloon-cloud.png" id="balloon-cloud-3" data-_bballoons="right: -70px" data-_aballoons="right: 30px">
                <img src="assets/balloon-cloud-flipped.png" id="balloon-cloud-4" data-_bballoons="left: 220px" data-_aballoons="left: 290px">
            </div>
            <div class="wrapper-small">
                <h2 data-start="opacity: 0" data-_bballoons-300="opacity: 0" data-_bballoons-700="opacity: 1">
                    This summer we saved a lot of energy, stabilized the grid, and helped make NYC a better place.
                </h2>
            </div>
        </div>
    </section>
    <section id="outro" >
        <div class="wrapper-small">
            <div id="outro-text-1">
                <h2 data-start="opacity: 0" data-_boutro="opacity: 0" data-_boutro-500="opacity: 1" data-_boutro-2900="opacity: 1" data-_boutro-3400="opacity: 0">
                    Thanks to everyone who participated in coolNYC 2013.
                </h2>
                <h2 class="wow" data-start="opacity: 0" data-_boutro-1200="opacity: 0" data-_boutro-1500="opacity: 1" data-_boutro-2900="opacity: 1" data-_boutro-3400="opacity: 0">
                    Let's make summer 2014 even better!
                </h2>
            </div>
        </div>
        <div class="wrapper-small">
            <div id="outro-text-2">
                <h1 data-start="opacity: 0" data-_boutro-4000="opacity: 0" data-_boutro-4500="opacity: 1">
                    Stay cool.
                </h1>
                <h3 data-start="opacity: 0" data-_boutro-6000="opacity: 0" data-_boutro-6400="opacity: 1">
                    Share the love:
                </h3>
                <div id="outro-social-media" data-start="opacity: 0" data-_boutro-6000="opacity: 0" data-_boutro-6400="opacity: 1"> -->
                <!-- AddThis Button BEGIN -->
             <!--    <div class="addthis_toolbox">
                <a class="addthis_button_facebook" id="fb"></a>
                <a class="addthis_button_twitter" id="twitter"></a>
                <a class="addthis_button_pinterest_share" id="pinterest"></a>
                <a class="addthis_button_google_plusone_share" id="googleplus"></a>
                <a class="addthis_button_email" id="email"></a>
                </div>
                <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-523317e1447fbf77"></script>
                <!-- AddThis Button END -->
              <!--   </div>
            </div>
        </div>
        <div class="wrapper-small">
            <div id="closing">
                <p>
                    For more info and to sign up, visit <a href="http://coolnycprogram.com">coolnycprogram.com</a>
                </p>
                <span id="logos">
                    <a href="http://coolnycprogram.com"><img src="assets/coolnyc-logo.png" id="coolnyc-logo"></a>
                    <a href="http://thinkecoinc.com"><img src="assets/thinkeco-logo.png" id="thinkeco-logo"></a>
                </span>
            </div>
        </div>
    </section> --> 
</div>


    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>