$main-break: 400px;
$main-break-lg: 600px;
$main-break-xtrlg: 900px;
$main-break-xxtrlg: 1200px;
$main-break-xxxtrlg: 1600px;

$panel1-text-break: 700px;
$panel2-text-break: 720px;
$panel2-line-break: 800px;
$panel3-text-break: 550px;
$panel4-text-break: 850px;
$panel4-text-break2: 1000px;
$panel4-text-break3: 750px;
$panel4-text-break4: 500px;
$triangle-break: 650px;