$color_fuscous_gray_approx: #515151;
$white_80: rgba(255, 255, 255, 0.8);
$white_60: rgba(255,255,255, 0.6);
$black_15: rgba(0, 0, 0, 0.15);
$black_60: rgba(0, 0, 0, 0.60);
$black: #000;
$white: #fff;
$color_blue: #0091d9;
$color_mountain_mist_approx: #999;
$color_dove_gray_approx: #6d6d6d;
$color_picton_blue_approx: #48c4f2;
$color_cararra_approx: #ebebe9;
$color_jelly_bean_approx: #1e7ea2;
$color_mantis_approx: #87cc5a;
$color_spray_approx: #73d9ff;
$color_niagara_approx: #129c8a;
$white_50: rgba(255,255,255,.5);
$color_cerulean_approx: #00aced;
$color_anakiwa_approx: #8fe1ff;
$color_puerto_rico_approx: #51bfa3;
$color_pumpkin_approx: #fb6d17;
$color_sun_approx: #f9a61a;
$color_westar_approx: #e0dfd2;

