@import "fonts";
@import "colors";
@import "utils";
@import "mixins";
@import "breakpoints";
@import "shorty";
@import "skrollr";
@import "_components/panel1";
@import "_components/panel2";
@import "_components/panel3";
@import "_components/panel4";
@import "_components/panel5";
@import "_components/panel6";
@import "_components/panel7";
@import "_components/panel8";
@import "_components/panel9";
@import "_components/panel10";


//@extend-elements

.verticalboxes {
	position: absolute;
	width: 100%;
}

.backgroundimage {
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: center center;
}

//global selectors
* {
	@include box-sizing(content-box);
	@include box-sizing(border-box);
}

html {
	font-family: $font_0;
	color: $white;
	font-size: 12px;
	 text-align: center;
	h1 {
		font-weight: 700;
	}	
	@include break-min($main-break){
		font-size: 14px;
	}
	@include break-min($main-break-xtrlg){
		font-size: 16px;
	}
	@include break-min($main-break-xxtrlg){
		font-size: 18px;
	}
	@include break-min($main-break-xxxtrlg){
		font-size: 20px;
	}
}

html, body {
	width:100%;
	height:100%;
	section {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
}

#page {
    display: none;
}

#loading{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $color_blue;
    background-color: $white;
    @include opacity(0.8);
    text-align: center;
    padding-top: rem(12);
    .loading-icon{
        font-size: rem(4);
        display: block;
    }
    .loading-title{
        font-size: rem(4);
        line-height: 1em;
        margin: .25em;
     }
    a{
        color:$color_blue;
    }
}
.no-cssanimations{
    #loading {
    	.loading-icon {
			display: none;
		}
	}
}



