@import "fonts";
@import "colors";
@import "utils";
@import "mixins";
@import "breakpoints";
@import "shorty";
@import "skrollr";
@import "_components/panel1";
@import "_components/panel2";
@import "_components/panel3";
@import "_components/panel4";
@import "_components/panel5";
@import "_components/panel6";
@import "_components/panel7";
@import "_components/panel8";
@import "_components/panel9";
@import "_components/panel10";


//@extend-elements

.verticalboxes {
	position: absolute;
	width: 100%;
}

.backgroundimage {
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: center center;
}

//global selectors
* {
	@include box-sizing(content-box);
	@include box-sizing(border-box);
}

html {
	font-family: $font_0;
	color: $white;
	font-size: 12px;
	 text-align: center;
	h1 {
		font-weight: 700;
	}	
	@include break-min($main-break){
		font-size: 14px;
	}
	@include break-min($main-break-xtrlg){
		font-size: 16px;
	}
	@include break-min($main-break-xxtrlg){
		font-size: 18px;
	}
	@include break-min($main-break-xxxtrlg){
		font-size: 20px;
	}
}

html, body {
	width:100%;
	height:100%;
	section {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
}

#page {
    display: none;
}

#loading{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $color_blue;
    background-color: $white;
    @include opacity(0.8);
    text-align: center;
    padding-top: rem(12);
    .loading-icon{
        font-size: rem(4);
        display: block;
    }
    .loading-title{
        font-size: rem(4);
        line-height: 1em;
        margin: .25em;
     }
    a{
        color:$color_blue;
    }
}
.no-cssanimations{
    #loading {
    	.loading-icon {
			display: none;
		}
	}
}

#main{
    display: none;
    @include break-min($main-break-nav){
     	display: block;
        width:15px;
        height: 292px;
        position:fixed;
        top:0px;
        margin: auto;
        bottom: 0px;
        right:30px;
        z-index:9001;
    }
    @include break-min($main-break-xxxtrlg){
    	right: 60px;
    }
}
#main>span{
	cursor:pointer;
	position:relative;
	height:15px;
	display:block;
	margin-bottom:10px;
	background-image:url('../assets/nav/inactive2.png');
	background-position:top right;
	background-repeat:no-repeat;
}
#main>span>img{
	position:absolute;
	top:0;
	right:0;
	display:none;
}
#main>span[id="play"],#main>span[id="back-to-top"]{
	background:none;
}
#scrollto{
	position:fixed;
	top:50px;
	right:50px;
	z-index:9000;
}
#backtotop{
	position:fixed;
	top:80px;
	right:50px;
	z-index:9000;
}
#top{
	height:96px;
	background-color:#73d9ff;
}

.mobile-scroll{
    display: block;
    bottom: 0px;
    font-size: 40px;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: $white_80;
    color: $blue_90;
    @include break-min($main-break-nav){
        display: none;
    }
    i.fa{
    	padding-left: 15px;
    	padding-right: 15px;
    }
    i.fa:hover{
    	color: $color_blue;
    	@include transition(color 0.5s ease-in)
    }
    i.fa:active{
    	bottom: 0px;
    	@include transition(bottom 0.5s ease-in)
    }   
}
#intro .mobile-scroll{
    display: block;
    @include break-min($main-break-nav){
        display: none;
    }
}
#outro .mobile-scroll{
    top: 0px;
}
