.shorty{
	#intro{
		header{
			height: 60px;
			img{
				margin-top: 4px;
				width: 125px;
			}
			h2{
				margin-top: 0px;
			}
		}
		#intro-content{
			@include calc(height, "100% - 60px - 46px");
		}
		footer{
			height: 46px;
			padding: .3rem;
			img{
				width: 33px;
			}
			h3 {
				display: none;
			}
		}
	}
	#fence{
		#fence-header{
			height: 6rem;
			h1{
				padding-top: 3rem;
			}
		}
		#fence-content{
			@include calc(height, "100% - 6rem");
		}
	}
	#outro{
		wrapper:first-of-type{
			@include calc(height, "100% - 53px");
		}
		#closing{
			height: 56px;
			padding-top: 0.7rem;
			p{
				font-size: .9rem;
				padding-bottom: .6rem;
				line-height: 0rem;
			}
			#logos {
				img {
					width: 90px;
				}
				#thinkeco-logo{
					margin-left: 10px;
				}
			}
		}
	}
}