/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* These mixins handle IE < 9, which doesn't respond to media queries.
  To "activate" them in ye-olde-ie stylesheet, set $dim to NUMpx and
  set $ye-olde-ie to a version number and then import the main stylesheet. */
/* line 3, ../sass/_partials/_components/_panel1.scss */
#intro #intro-content-bg {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
/* line 11, ../sass/_partials/_components/_panel1.scss */
#intro #intro-sky-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/bgphotos/sky600.jpg");
  background-position: center center;
}
@media screen and (min-width: 600px) {
  /* line 11, ../sass/_partials/_components/_panel1.scss */
  #intro #intro-sky-bg {
    background-image: url("../assets/bgphotos/sky1200.jpg");
  }
}
@media screen and (min-width: 1200px) {
  /* line 11, ../sass/_partials/_components/_panel1.scss */
  #intro #intro-sky-bg {
    background-image: url("../assets/bgphotos/sky.jpg");
  }
}

/* line 28, ../sass/_partials/_components/_panel1.scss */
header {
  min-height: 86px;
  background-color: #fff;
}
/* line 31, ../sass/_partials/_components/_panel1.scss */
header img {
  margin-top: 9px;
  width: 159px;
}
/* line 35, ../sass/_partials/_components/_panel1.scss */
header #tagline {
  color: #00aced;
  margin-top: 7px;
  font-size: .75em;
  font-weight: normal;
  font-family: "Arial", sans-serif;
}

/* line 44, ../sass/_partials/_components/_panel1.scss */
#intro-content {
  width: 28rem;
  position: relative;
  margin: auto;
  height: -webkit-calc(100% - 11% - 86px);
  height: calc(100% - 11% - 86px);
}
/* line 49, ../sass/_partials/_components/_panel1.scss */
#intro-content .box {
  min-height: 38%;
  width: 3rem;
  position: absolute;
  border-left: #68d0ef .4rem solid;
  border-bottom: #68d0ef .4rem solid;
  left: 3.4rem;
  top: 33%;
}
/* line 58, ../sass/_partials/_components/_panel1.scss */
#intro-content .asterick {
  width: 1.6rem;
  left: -1rem;
  top: -1rem;
  position: absolute;
}
@media screen and (min-width: 600px) {
  /* line 44, ../sass/_partials/_components/_panel1.scss */
  #intro-content {
    width: 35rem;
  }
  /* line 66, ../sass/_partials/_components/_panel1.scss */
  #intro-content .box {
    min-height: 38%;
    width: 6rem;
    left: 3.8rem;
  }
}
@media screen and (min-width: 700px) {
  /* line 44, ../sass/_partials/_components/_panel1.scss */
  #intro-content {
    width: 53rem;
  }
  /* line 74, ../sass/_partials/_components/_panel1.scss */
  #intro-content .box {
    min-height: 53%;
    width: 14rem;
    top: 35%;
  }
}
@media screen and (min-width: 900px) {
  /* line 44, ../sass/_partials/_components/_panel1.scss */
  #intro-content {
    width: 54rem;
  }
  /* line 82, ../sass/_partials/_components/_panel1.scss */
  #intro-content .box {
    left: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 44, ../sass/_partials/_components/_panel1.scss */
  #intro-content {
    width: 60rem;
  }
  /* line 88, ../sass/_partials/_components/_panel1.scss */
  #intro-content .box {
    top: 40%;
    left: 3.5rem;
  }
}
/* line 93, ../sass/_partials/_components/_panel1.scss */
#intro-content #intro-content-top {
  height: 50%;
  width: 100%;
  text-align: center;
  color: #0091d9;
  position: absolute;
}
/* line 99, ../sass/_partials/_components/_panel1.scss */
#intro-content #intro-content-top #intro-title {
  display: none;
  padding: 2%;
  position: absolute;
  width: 100%;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2.7rem;
}
@media screen and (min-width: 600px) {
  /* line 99, ../sass/_partials/_components/_panel1.scss */
  #intro-content #intro-content-top #intro-title {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 99, ../sass/_partials/_components/_panel1.scss */
  #intro-content #intro-content-top #intro-title {
    font-size: 4rem;
  }
}

/* line 120, ../sass/_partials/_components/_panel1.scss */
#intro-content-bottom {
  display: block;
  position: relative;
  height: 50%;
  padding: 2%;
  top: 50%;
}
/* line 126, ../sass/_partials/_components/_panel1.scss */
#intro-content-bottom #intro-section {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* line 133, ../sass/_partials/_components/_panel1.scss */
#intro-content-bottom #intro-section #intro-year {
  display: block;
  font-size: 5.6rem;
  font-weight: 700;
}
/* line 138, ../sass/_partials/_components/_panel1.scss */
#intro-content-bottom #intro-section #intro-text {
  font-size: .9rem;
  line-height: 1.75rem;
  display: block;
  margin: 5px auto;
  width: 22rem;
}
@media screen and (min-width: 700px) {
  /* line 126, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section {
    min-width: 100%;
    margin: auto;
  }
  /* line 149, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section #intro-year {
    font-size: 5em;
    font-weight: 700;
    display: inline-block;
  }
  /* line 154, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section #intro-text {
    font-size: .85em;
    line-height: 1.75em;
    width: 27rem;
    text-align: left;
    margin-left: 2%;
    display: inline-block;
  }
}
@media screen and (min-width: 900px) {
  /* line 126, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section {
    min-width: 100%;
    margin: auto;
  }
  /* line 166, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section #intro-year {
    font-size: 5.2rem;
    margin-left: 1.5rem;
    font-weight: 700;
    display: inline-block;
  }
  /* line 172, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section #intro-text {
    font-size: .9rem;
    line-height: 1.8em;
    text-align: left;
    margin-left: 1.2rem;
    display: inline-block;
    width: 29rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 126, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section {
    min-width: 100%;
    margin: auto;
  }
  /* line 184, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section #intro-year {
    font-size: 7rem;
    font-weight: 700;
    display: inline-block;
    margin-left: 4rem;
  }
  /* line 190, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section #intro-text {
    font-size: 1em;
    line-height: 2rem;
    text-align: left;
    margin-left: 2.3rem;
    display: inline-block;
    width: 35rem;
  }
}

/* line 202, ../sass/_partials/_components/_panel1.scss */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  color: #0E9DD8;
  padding: 1%;
  font-style: italic;
  min-height: 11%;
  font-size: .8em;
}
/* line 213, ../sass/_partials/_components/_panel1.scss */
footer h3 {
  display: block;
  margin-top: .2rem;
}
/* line 217, ../sass/_partials/_components/_panel1.scss */
footer #intro-scroll {
  display: none;
}

/* line 1, ../sass/_partials/_components/_panel2.scss */
#street-upper {
  background-image: url("../assets/bgphotos/street600.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (min-width: 600px) {
  /* line 1, ../sass/_partials/_components/_panel2.scss */
  #street-upper {
    background-image: url("../assets/bgphotos/street1200.jpg");
  }
}
@media screen and (min-width: 1200px) {
  /* line 1, ../sass/_partials/_components/_panel2.scss */
  #street-upper {
    background-image: url("../assets/bgphotos/street.jpg");
  }
}
/* line 12, ../sass/_partials/_components/_panel2.scss */
#street-upper .bottom {
  background-color: #fff;
  min-height: 0.3rem;
  top: 38rem;
}

/* line 19, ../sass/_partials/_components/_panel2.scss */
#street-content {
  position: relative;
  text-align: center;
  height: 25rem;
  background-color: #000;
  top: 8rem;
}
/* line 25, ../sass/_partials/_components/_panel2.scss */
#street-content .bottom {
  background-color: #fff;
  min-height: 0.6rem;
  top: 25rem;
}
/* line 31, ../sass/_partials/_components/_panel2.scss */
#street-content .top {
  position: absolute;
}
/* line 33, ../sass/_partials/_components/_panel2.scss */
#street-content .top.left {
  top: 12%;
  min-height: 0.3rem;
  background-color: #fff;
  width: 100rem;
  background-color: #fff;
  left: 50%;
  margin-right: -50%;
  -moz-transform: translate(-111%, 50%);
  -ms-transform: translate(-111%, 50%);
  -webkit-transform: translate(-111%, 50%);
  transform: translate(-111%, 50%);
}
/* line 42, ../sass/_partials/_components/_panel2.scss */
#street-content .top.left.blue {
  background-color: #0091d9;
}
/* line 46, ../sass/_partials/_components/_panel2.scss */
#street-content .top.right {
  top: 12%;
  min-height: 0.3rem;
  left: 50%;
  margin-right: -50%;
  width: 150rem;
  -moz-transform: translate(-4%, 50%);
  -ms-transform: translate(-4%, 50%);
  -webkit-transform: translate(-4%, 50%);
  transform: translate(-4%, 50%);
  background-color: #fff;
  min-width: 69%;
}
/* line 55, ../sass/_partials/_components/_panel2.scss */
#street-content .top.right.blue {
  background-color: #0091d9;
}
/* line 59, ../sass/_partials/_components/_panel2.scss */
#street-content .top.asterick {
  width: 2.5rem;
  top: 7.5%;
  top: 53%;
  left: 50%;
  margin-right: -50%;
  -moz-transform: translate(-394%, -352%);
  -ms-transform: translate(-394%, -352%);
  -webkit-transform: translate(-394%, -352%);
  transform: translate(-394%, -352%);
}
@media screen and (min-width: 800px) {
  /* line 70, ../sass/_partials/_components/_panel2.scss */
  #street-content .top.left {
    -moz-transform: translate(-122%, 50%);
    -ms-transform: translate(-122%, 50%);
    -webkit-transform: translate(-122%, 50%);
    transform: translate(-122%, 50%);
  }
  /* line 73, ../sass/_partials/_components/_panel2.scss */
  #street-content .top.right {
    width: 372rem;
  }
  /* line 76, ../sass/_partials/_components/_panel2.scss */
  #street-content .top.asterick {
    -moz-transform: translate(-823%, -352%);
    -ms-transform: translate(-823%, -352%);
    -webkit-transform: translate(-823%, -352%);
    transform: translate(-823%, -352%);
  }
}

/* line 82, ../sass/_partials/_components/_panel2.scss */
.street-text {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 55%;
  left: 50%;
  padding: 5%;
  margin-right: -50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 91, ../sass/_partials/_components/_panel2.scss */
.street-text h1 {
  font-size: 3.5rem;
}
/* line 93, ../sass/_partials/_components/_panel2.scss */
.street-text h1 span {
  font-size: 5.5rem;
}
/* line 97, ../sass/_partials/_components/_panel2.scss */
.street-text p {
  visibility: hidden;
  font-size: 1rem;
  width: 21.4rem;
  line-height: 2rem;
  margin: auto;
  margin-top: 3%;
}
@media screen and (min-width: 720px) {
  /* line 107, ../sass/_partials/_components/_panel2.scss */
  .street-text h1 {
    font-size: 7rem;
  }
  /* line 109, ../sass/_partials/_components/_panel2.scss */
  .street-text h1 span {
    font-size: 9.25rem;
  }
  /* line 113, ../sass/_partials/_components/_panel2.scss */
  .street-text p {
    font-size: 1rem;
    width: 35rem;
    line-height: 1.9rem;
    margin: auto;
    margin-top: 1%;
  }
}

/* line 1, ../sass/_partials/_components/_panel3.scss */
#street-lower {
  font-size: 8px;
  text-align: center;
  background-color: #0091d9;
}
@media screen and (min-width: 600px) {
  /* line 1, ../sass/_partials/_components/_panel3.scss */
  #street-lower {
    font-size: 12px;
  }
}
@media screen and (min-width: 900px) {
  /* line 1, ../sass/_partials/_components/_panel3.scss */
  #street-lower {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 1, ../sass/_partials/_components/_panel3.scss */
  #street-lower {
    font-size: 20px;
  }
}
/* line 15, ../sass/_partials/_components/_panel3.scss */
#street-lower #map-header {
  background-color: #000;
  height: 8.2em;
  top: 10%;
  z-index: 9999;
  position: relative;
}
/* line 21, ../sass/_partials/_components/_panel3.scss */
#street-lower #map-header h1 {
  position: absolute;
  width: 100%;
  font-size: 300%;
  font-weight: 400;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 31, ../sass/_partials/_components/_panel3.scss */
#street-lower #map-header h1 span {
  font-weight: 700;
  color: #0091d9;
  display: block;
}
@media screen and (min-width: 720px) {
  /* line 37, ../sass/_partials/_components/_panel3.scss */
  #street-lower #map-header h1 span {
    display: initial;
  }
}
/* line 44, ../sass/_partials/_components/_panel3.scss */
#street-lower #map-wrapper {
  position: absolute;
  width: 49em;
  height: 49em;
  overflow: auto;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 54, ../sass/_partials/_components/_panel3.scss */
#street-lower #map-wrapper #map {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  opacity: 0.15;
}

/* line 59, ../sass/_partials/_components/_panel3.scss */
.one {
  top: 33em;
  left: 10em;
  position: absolute;
}
/* line 63, ../sass/_partials/_components/_panel3.scss */
.one .circle-outter {
  background-color: rgba(255, 255, 255, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  width: 5.2em;
  height: 5.2em;
}
/* line 70, ../sass/_partials/_components/_panel3.scss */
.one .circle-inner {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  left: 0.6em;
  top: 0.6em;
  width: 4em;
  height: 4em;
}
/* line 79, ../sass/_partials/_components/_panel3.scss */
.one h3 {
  display: block;
  font-size: 2.4em;
  height: 1em;
  color: #015fd0;
  top: 1.2rem;
  left: 1.2rem;
  font-weight: 700;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 94, ../sass/_partials/_components/_panel3.scss */
.one .line {
  height: .2em;
  width: 10.5em;
  background-color: #015fd0;
  position: absolute;
  left: 4.9em;
  top: 2.6em;
  display: block;
}
/* line 103, ../sass/_partials/_components/_panel3.scss */
.one p {
  width: 31em;
  display: block;
  position: absolute;
  left: 7em;
  top: 3.2em;
  text-align: left;
  line-height: 1.8em;
}

/* line 113, ../sass/_partials/_components/_panel3.scss */
.two {
  top: 18em;
  right: 15em;
  position: absolute;
}
/* line 117, ../sass/_partials/_components/_panel3.scss */
.two .circle-outter {
  background-color: rgba(255, 255, 255, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  width: 12.5em;
  height: 12.5em;
}
/* line 124, ../sass/_partials/_components/_panel3.scss */
.two .circle-inner {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  left: 1.25em;
  top: 1.25em;
  width: 10.1em;
  height: 10.1em;
}
/* line 133, ../sass/_partials/_components/_panel3.scss */
.two h3 {
  display: block;
  font-size: 3.2em;
  font-weight: 700;
  height: 1em;
  color: #000;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 146, ../sass/_partials/_components/_panel3.scss */
.two .line {
  height: 0.2em;
  width: 15em;
  background-color: #015fd0;
  position: absolute;
  right: -0.5em;
  top: 6em;
}
/* line 154, ../sass/_partials/_components/_panel3.scss */
.two p {
  display: block;
  position: absolute;
  width: 30em;
  right: 1em;
  text-align: right;
  line-height: 1.8em;
  top: 6.7em;
}

/* line 1, ../sass/_partials/_components/_panel4.scss */
#brick {
  background-image: url("../assets/bgphotos/brick600.jpg");
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: visible;
  color: black;
  font-size: 7px;
}
@media screen and (min-width: 500px) {
  /* line 1, ../sass/_partials/_components/_panel4.scss */
  #brick {
    font-size: 8px;
  }
}
@media screen and (min-width: 600px) {
  /* line 1, ../sass/_partials/_components/_panel4.scss */
  #brick {
    background-image: url("../assets/bgphotos/brick1200.jpg");
    font-size: 10px;
  }
}
@media screen and (min-width: 750px) {
  /* line 1, ../sass/_partials/_components/_panel4.scss */
  #brick {
    font-size: 12px;
  }
}
@media screen and (min-width: 850px) {
  /* line 1, ../sass/_partials/_components/_panel4.scss */
  #brick {
    font-size: 14px;
  }
}
@media screen and (min-width: 1000px) {
  /* line 1, ../sass/_partials/_components/_panel4.scss */
  #brick {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 1, ../sass/_partials/_components/_panel4.scss */
  #brick {
    background-image: url("../assets/bgphotos/brick.jpg");
    font-size: 18px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 1, ../sass/_partials/_components/_panel4.scss */
  #brick {
    font-size: 20px;
  }
}
/* line 31, ../sass/_partials/_components/_panel4.scss */
#brick .panel {
  width: 50%;
  height: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: left;
}
/* line 38, ../sass/_partials/_components/_panel4.scss */
#brick #brick-content {
  width: 90%;
  height: 80%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 47, ../sass/_partials/_components/_panel4.scss */
#brick #brick-content > div {
  width: 50%;
  position: relative;
  top: 0;
  height: 100%;
}
/* line 53, ../sass/_partials/_components/_panel4.scss */
#brick #brick-content > div:first-of-type h1 {
  position: absolute;
  right: 1em;
  width: 10em;
  font-size: 2.5em;
  line-height: 1.3em;
  text-align: left;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 5em;
  display: block;
}
/* line 67, ../sass/_partials/_components/_panel4.scss */
#brick #brick-content > div:nth-of-type(2n) {
  right: 0;
  position: absolute;
}
/* line 70, ../sass/_partials/_components/_panel4.scss */
#brick #brick-content > div:nth-of-type(2n) .circle {
  transition: all .5s ease-out;
  width: 22.5em;
  height: 22.5em;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 0;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 5%;
}
/* line 83, ../sass/_partials/_components/_panel4.scss */
#brick #brick-content > div:nth-of-type(2n) .circle h1 {
  font-size: 8.2em;
  padding: auto;
  display: block;
  position: absolute;
  right: 0;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  height: 1em;
}

/* line 1, ../sass/_partials/_components/_panel5.scss */
#taxi {
  background-image: url("../assets/bgphotos/taxis600.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (min-width: 600px) {
  /* line 1, ../sass/_partials/_components/_panel5.scss */
  #taxi {
    background-image: url("../assets/bgphotos/taxis1200.jpg");
  }
}
@media screen and (min-width: 750px) {
  /* line 1, ../sass/_partials/_components/_panel5.scss */
  #taxi {
    font-size: 18px;
  }
}
@media screen and (min-width: 1000px) {
  /* line 1, ../sass/_partials/_components/_panel5.scss */
  #taxi {
    font-size: 23px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 1, ../sass/_partials/_components/_panel5.scss */
  #taxi {
    background-image: url("../assets/bgphotos/taxis.jpg");
    font-size: 28px;
  }
}
@media screen and (min-width: 1600px) {
  /* line 1, ../sass/_partials/_components/_panel5.scss */
  #taxi {
    font-size: 34px;
  }
}
/* line 22, ../sass/_partials/_components/_panel5.scss */
#taxi #circle-wrapper {
  width: 90%;
  height: 76%;
  position: absolute;
  margin: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (min-width: 550px) {
  /* line 22, ../sass/_partials/_components/_panel5.scss */
  #taxi #circle-wrapper {
    height: 23%;
    width: 91%;
  }
}
/* line 35, ../sass/_partials/_components/_panel5.scss */
#taxi #circle-wrapper #circles {
  width: 100%;
  height: 100%;
  text-align: center;
  -moz-transition: -moz-transform 500ms ease 1s;
  -o-transition: -o-transform 500ms ease 1s;
  -webkit-transition: -webkit-transform 500ms ease;
  -webkit-transition-delay: 1s;
  transition: transform 500ms ease 1s;
}
/* line 40, ../sass/_partials/_components/_panel5.scss */
#taxi #circle-wrapper #circles .circle {
  vertical-align: middle;
  text-align: center;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 11em;
  height: 11em;
  margin: 1% auto;
  position: relative;
}
@media screen and (min-width: 550px) {
  /* line 40, ../sass/_partials/_components/_panel5.scss */
  #taxi #circle-wrapper #circles .circle {
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  /* line 40, ../sass/_partials/_components/_panel5.scss */
  #taxi #circle-wrapper #circles .circle {
    margin: auto 2%;
  }
}
/* line 56, ../sass/_partials/_components/_panel5.scss */
#taxi #circle-wrapper #circles .circle > div {
  max-width: 85%;
  max-height: 71%;
  margin: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
/* line 65, ../sass/_partials/_components/_panel5.scss */
#taxi #circle-wrapper #circles .circle > div h1 {
  font-size: 4em;
  border-bottom: #0091d9 0.05em solid;
  margin-bottom: .05em;
  padding-bottom: .05em;
}
/* line 71, ../sass/_partials/_components/_panel5.scss */
#taxi #circle-wrapper #circles .circle > div p {
  line-height: 1.4em;
  font-size: 0.9em;
}

/* line 1, ../sass/_partials/_components/_panel6.scss */
#skyline {
  background-image: url("../assets/bgphotos/skyline600.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (min-width: 600px) {
  /* line 1, ../sass/_partials/_components/_panel6.scss */
  #skyline {
    background-image: url("../assets/bgphotos/skyline1200.jpg");
  }
}
@media screen and (min-width: 1200px) {
  /* line 1, ../sass/_partials/_components/_panel6.scss */
  #skyline {
    background-image: url("../assets/bgphotos/skyline.jpg");
  }
}
/* line 12, ../sass/_partials/_components/_panel6.scss */
#skyline .triangle {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  margin: auto;
  overflow: auto;
  position: absolute;
  z-index: 2;
}
@media screen and (min-width: 650px) {
  /* line 12, ../sass/_partials/_components/_panel6.scss */
  #skyline .triangle {
    height: 32%;
  }
}
@media screen and (min-width: 900px) {
  /* line 12, ../sass/_partials/_components/_panel6.scss */
  #skyline .triangle {
    height: 50%;
  }
}
/* line 31, ../sass/_partials/_components/_panel6.scss */
#skyline .triangle:first-of-type {
  border-left: 0rem solid transparent;
  border-right: 50rem solid transparent;
  border-top: 24rem solid #000;
}
/* line 36, ../sass/_partials/_components/_panel6.scss */
#skyline .triangle:nth-of-type(2n) {
  border-left: 50rem solid transparent;
  border-right: 0rem solid transparent;
  border-bottom: 24rem solid #000;
}
/* line 42, ../sass/_partials/_components/_panel6.scss */
#skyline .skyline-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* line 48, ../sass/_partials/_components/_panel6.scss */
#skyline .skyline-content {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
}
/* line 52, ../sass/_partials/_components/_panel6.scss */
#skyline .skyline-content h1 {
  margin: 0;
  display: block;
  width: 90%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 15% 2%;
}
@media screen and (min-width: 550px) {
  /* line 52, ../sass/_partials/_components/_panel6.scss */
  #skyline .skyline-content h1 {
    font-size: 2.1rem;
    line-height: 2.4rem;
    text-shadow: rgba(0, 0, 0, 0.4) 6px 4px 5px;
  }
}
@media screen and (min-width: 900px) {
  /* line 52, ../sass/_partials/_components/_panel6.scss */
  #skyline .skyline-content h1 {
    font-size: 3.08rem;
    line-height: 3.5rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 52, ../sass/_partials/_components/_panel6.scss */
  #skyline .skyline-content h1 {
    font-size: 4.2rem;
    line-height: 4.2rem;
  }
}

/* line 1, ../sass/_partials/_components/_panel7.scss */
#fence {
  background-image: url("../assets/bgphotos/fence350.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (min-width: 400px) {
  /* line 1, ../sass/_partials/_components/_panel7.scss */
  #fence {
    background-image: url("../assets/bgphotos/fence600.jpg");
  }
}
@media screen and (min-width: 600px) {
  /* line 1, ../sass/_partials/_components/_panel7.scss */
  #fence {
    background-image: url("../assets/bgphotos/fence1200.jpg");
  }
}
@media screen and (min-width: 1200px) {
  /* line 1, ../sass/_partials/_components/_panel7.scss */
  #fence {
    background-image: url("../assets/bgphotos/fence.jpg");
  }
}

/* line 1, ../sass/_partials/_components/_panel8.scss */
#bridge {
  background-image: url("../assets/bgphotos/bridge350.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (min-width: 400px) {
  /* line 1, ../sass/_partials/_components/_panel8.scss */
  #bridge {
    background-image: url("../assets/bgphotos/bridge600.jpg");
  }
}
@media screen and (min-width: 600px) {
  /* line 1, ../sass/_partials/_components/_panel8.scss */
  #bridge {
    background-image: url("../assets/bgphotos/bridge1200.jpg");
  }
}
@media screen and (min-width: 1200px) {
  /* line 1, ../sass/_partials/_components/_panel8.scss */
  #bridge {
    background-image: url("../assets/bgphotos/bridge.jpg");
  }
}
/* line 15, ../sass/_partials/_components/_panel8.scss */
#bridge #bridge-content {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
}
/* line 19, ../sass/_partials/_components/_panel8.scss */
#bridge #bridge-content h1 {
  margin: 0;
  display: block;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.86);
  top: 50%;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 15% 2%;
}
@media screen and (min-width: 550px) {
  /* line 19, ../sass/_partials/_components/_panel8.scss */
  #bridge #bridge-content h1 {
    font-size: 2.6rem;
    line-height: 2.9rem;
  }
}
@media screen and (min-width: 900px) {
  /* line 19, ../sass/_partials/_components/_panel8.scss */
  #bridge #bridge-content h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 19, ../sass/_partials/_components/_panel8.scss */
  #bridge #bridge-content h1 {
    font-size: 4.2rem;
    line-height: 4.2rem;
  }
}

/* line 1, ../sass/_partials/_components/_panel9.scss */
#nycave {
  background-image: url("../assets/bgphotos/nycave450.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
@media screen and (min-width: 400px) {
  /* line 1, ../sass/_partials/_components/_panel9.scss */
  #nycave {
    background-image: url("../assets/bgphotos/nycave600.jpg");
  }
}
@media screen and (min-width: 600px) {
  /* line 1, ../sass/_partials/_components/_panel9.scss */
  #nycave {
    background-image: url("../assets/bgphotos/nycave1200.jpg");
  }
}
@media screen and (min-width: 1200px) {
  /* line 1, ../sass/_partials/_components/_panel9.scss */
  #nycave {
    background-image: url("../assets/bgphotos/nycave.jpg");
  }
}
/* line 15, ../sass/_partials/_components/_panel9.scss */
#nycave > h1 {
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  display: block;
  margin: auto;
  position: absolute;
  line-height: 1.9rem;
  height: 12rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: rgba(0, 0, 0, 0.4) 6px 4px 5px;
}
@media screen and (min-width: 550px) {
  /* line 15, ../sass/_partials/_components/_panel9.scss */
  #nycave > h1 {
    font-size: 2.6rem;
    line-height: 2.9rem;
  }
}
@media screen and (min-width: 900px) {
  /* line 15, ../sass/_partials/_components/_panel9.scss */
  #nycave > h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
@media screen and (min-width: 1200px) {
  /* line 15, ../sass/_partials/_components/_panel9.scss */
  #nycave > h1 {
    font-size: 4.2rem;
    line-height: 4.2rem;
  }
}

/* line 19, ../sass/_partials/_index.scss */
#street-upper .bottom, #street-content .bottom {
  position: absolute;
  width: 100%;
}

/* line 57, ../sass/_partials/_index.scss */
* {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 62, ../sass/_partials/_index.scss */
html {
  font-family: "Roboto Slab", serif;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
/* line 67, ../sass/_partials/_index.scss */
html h1 {
  font-weight: 700;
}
@media screen and (min-width: 1600px) {
  /* line 62, ../sass/_partials/_index.scss */
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 62, ../sass/_partials/_index.scss */
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  /* line 62, ../sass/_partials/_index.scss */
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 400px) {
  /* line 62, ../sass/_partials/_index.scss */
  html {
    font-size: 14px;
  }
}

/* line 84, ../sass/_partials/_index.scss */
html, body {
  width: 100%;
  height: 100%;
}
/* line 87, ../sass/_partials/_index.scss */
html section, body section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent center no-repeat;
  background-size: cover;
}

/* line 98, ../sass/_partials/_index.scss */
.wrapper-large {
  position: relative;
  left: 50%;
  margin-left: -800px;
  width: 1600px;
}

/* line 104, ../sass/_partials/_index.scss */
.wrapper-small {
  margin: auto;
  width: 980px;
}

/* line 108, ../sass/_partials/_index.scss */
.scroll-wrapper {
  left: 0;
  right: 0;
}

/* line 113, ../sass/_partials/_index.scss */
#scroll-wrapper-body {
  position: fixed;
  width: 100%;
}

/* line 117, ../sass/_partials/_index.scss */
#main {
  width: 15px;
  position: fixed;
  top: 50%;
  margin-top: -223px;
  right: 50px;
  z-index: 9001;
  overflow-x: hidden;
}
/* line 126, ../sass/_partials/_index.scss */
#main > span {
  cursor: pointer;
  position: relative;
  height: 15px;
  display: block;
  margin-bottom: 10px;
  background-image: url("../assets/nav/inactive.png?1379444299");
  background-position: top right;
  background-repeat: no-repeat;
}
/* line 135, ../sass/_partials/_index.scss */
#main > span > img {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
/* line 142, ../sass/_partials/_index.scss */
#main > span[id="play"] {
  background: none;
}
/* line 145, ../sass/_partials/_index.scss */
#main > span[id="back-to-top"] {
  background: none;
}

/* line 150, ../sass/_partials/_index.scss */
#scrollto {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 9000;
}

/* line 156, ../sass/_partials/_index.scss */
#backtotop {
  position: fixed;
  top: 80px;
  right: 50px;
  z-index: 9000;
}

/* line 163, ../sass/_partials/_index.scss */
#addthis {
  margin-top: 18px;
  display: inline-block;
  float: right;
  height: 59px;
}
/* line 168, ../sass/_partials/_index.scss */
#addthis .addthis_toolbox > a {
  float: left;
  margin-left: 20px;
}

/* line 174, ../sass/_partials/_index.scss */
#intro-play {
  margin-bottom: -16px;
  cursor: pointer;
}

/* line 180, ../sass/_partials/_index.scss */
#ie a > img {
  border: 0;
}

/* line 187, ../sass/_partials/_index.scss */
.shorty #map-bronx-label {
  top: 240px;
  z-index: 2;
}
/* line 191, ../sass/_partials/_index.scss */
.shorty #outro-text-2 {
  padding-top: 160px;
}
/* line 196, ../sass/_partials/_index.scss */
.shorty #boxes h1 {
  top: 300px;
  z-index: 3;
}
