/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* These mixins handle IE < 9, which doesn't respond to media queries.
  To "activate" them in ye-olde-ie stylesheet, set $dim to NUMpx and
  set $ye-olde-ie to a version number and then import the main stylesheet. */
/* line 3, ../sass/_partials/_components/_panel1.scss */
header {
  min-height: 86px;
  background-color: #fff;
}
/* line 6, ../sass/_partials/_components/_panel1.scss */
header img {
  margin-top: 9px;
  width: 159px;
}
/* line 10, ../sass/_partials/_components/_panel1.scss */
header #tagline {
  color: #00aced;
  margin-top: 7px;
  font-size: .75em;
  font-weight: normal;
  font-family: "Arial", sans-serif;
}

/* line 19, ../sass/_partials/_components/_panel1.scss */
#intro-content {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/bgphotos/sky.jpg");
  background-position: center center;
  background-attachment: fixed;
  height: calc(100% - 11% - 86px);
  width: 100%;
}
/* line 27, ../sass/_partials/_components/_panel1.scss */
#intro-content #intro-content-top {
  background-color: rgba(255, 255, 255, 0.5);
  height: 50%;
  text-align: center;
  color: #0091d9;
  position: relative;
}
/* line 33, ../sass/_partials/_components/_panel1.scss */
#intro-content #intro-content-top #intro-title {
  padding: 2%;
  position: absolute;
  width: 100%;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 400px) {
  /* line 33, ../sass/_partials/_components/_panel1.scss */
  #intro-content #intro-content-top #intro-title {
    font-size: 2.7rem;
  }
}
@media screen and (min-width: 600px) {
  /* line 33, ../sass/_partials/_components/_panel1.scss */
  #intro-content #intro-content-top #intro-title {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 900px) {
  /* line 33, ../sass/_partials/_components/_panel1.scss */
  #intro-content #intro-content-top #intro-title {
    font-size: 4em;
  }
}

/* line 55, ../sass/_partials/_components/_panel1.scss */
#intro-content-bottom {
  display: block;
  position: relative;
  height: 50%;
  padding: 2%;
}
/* line 60, ../sass/_partials/_components/_panel1.scss */
#intro-content-bottom #intro-section {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 400px) {
  /* line 60, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section {
    width: 70%;
    text-align: center;
  }
  /* line 69, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section #intro-year {
    display: block;
    font-size: 6.2em;
    font-weight: 700;
  }
  /* line 74, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section #intro-text {
    font-size: .9em;
    line-height: 1.75em;
  }
}
@media screen and (min-width: 600px) {
  /* line 60, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section {
    min-width: 84%;
    margin: auto;
  }
  /* line 82, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section #intro-year {
    font-size: 5em;
    font-weight: 700;
    display: inline-block;
  }
  /* line 87, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section #intro-text {
    font-size: .85em;
    line-height: 1.75em;
    max-width: 63%;
    text-align: left;
    margin-left: 2%;
    display: inline-block;
  }
}
@media screen and (min-width: 900px) {
  /* line 60, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section {
    min-width: 100%;
    margin: auto;
  }
  /* line 99, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section #intro-year {
    font-size: 7.80em;
    font-weight: 700;
    display: inline-block;
  }
  /* line 104, ../sass/_partials/_components/_panel1.scss */
  #intro-content-bottom #intro-section #intro-text {
    font-size: 1.1em;
    line-height: 2em;
    text-align: left;
    margin-left: 2%;
    display: inline-block;
  }
}

/* line 115, ../sass/_partials/_components/_panel1.scss */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  color: #00aced;
  padding: 1%;
  font-style: italic;
  min-height: 11%;
}
@media screen and (min-width: 400px) {
  /* line 115, ../sass/_partials/_components/_panel1.scss */
  footer {
    font-size: 1em;
  }
  /* line 127, ../sass/_partials/_components/_panel1.scss */
  footer .fa {
    font-size: 2.2em;
  }
}
@media screen and (min-width: 600px) {
  /* line 115, ../sass/_partials/_components/_panel1.scss */
  footer {
    font-size: 1.2em;
    padding-top: 4%;
  }
  /* line 134, ../sass/_partials/_components/_panel1.scss */
  footer .fa {
    font-size: 2em;
  }
}
@media screen and (min-width: 900px) {
  /* line 115, ../sass/_partials/_components/_panel1.scss */
  footer {
    font-size: 1.2em;
    padding-top: 4%;
  }
  /* line 141, ../sass/_partials/_components/_panel1.scss */
  footer .fa {
    font-size: 2em;
  }
}

/* line 146, ../sass/_partials/_components/_panel1.scss */
#intro-scroll {
  display: none;
}

/* line 1, ../sass/_partials/_components/_panel2.scss */
#street-upper {
  background-image: url("../assets/bgphotos/street.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/* line 9, ../sass/_partials/_components/_panel2.scss */
#street-content {
  position: relative;
  text-align: center;
  min-height: 62%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 15%;
}
/* line 15, ../sass/_partials/_components/_panel2.scss */
#street-content .bottom {
  min-height: 1.5%;
  background-color: #fff;
  top: 557px;
}
/* line 21, ../sass/_partials/_components/_panel2.scss */
#street-content .top {
  position: absolute;
}
/* line 23, ../sass/_partials/_components/_panel2.scss */
#street-content .top.left {
  top: 8%;
  left: 0px;
  min-width: 22%;
  min-height: 1.5%;
  background-color: #fff;
}
/* line 30, ../sass/_partials/_components/_panel2.scss */
#street-content .top.right {
  top: 8%;
  min-width: 65%;
  min-height: 1.5%;
  background-color: #fff;
  right: 0px;
}
/* line 37, ../sass/_partials/_components/_panel2.scss */
#street-content .top.asterick {
  height: 10%;
  top: 4%;
  left: 23.55%;
}
@media screen and (min-width: 1200px) {
  /* line 45, ../sass/_partials/_components/_panel2.scss */
  #street-content .top.left {
    top: 8%;
    left: 0px;
    min-width: 26%;
    height: 1.5%;
  }
  /* line 51, ../sass/_partials/_components/_panel2.scss */
  #street-content .top.blue {
    background-color: #0091d9;
    z-index: 2;
  }
  /* line 56, ../sass/_partials/_components/_panel2.scss */
  #street-content .top.right {
    top: 8%;
    height: 1.5%;
    right: 0px;
  }
  /* line 60, ../sass/_partials/_components/_panel2.scss */
  #street-content .top.right.blue {
    background-color: #0091d9;
    z-index: 1;
    left: 31%;
    width: 0%;
  }
  /* line 67, ../sass/_partials/_components/_panel2.scss */
  #street-content .top.asterick {
    max-height: 15%;
    top: 4%;
    left: 27.55%;
  }
}
/* line 75, ../sass/_partials/_components/_panel2.scss */
#street-content .street-text {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 50%;
  left: 50%;
  padding: 5%;
  margin-right: -50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 400px) {
  /* line 85, ../sass/_partials/_components/_panel2.scss */
  #street-content .street-text h1 {
    font-size: 2em;
  }
  /* line 87, ../sass/_partials/_components/_panel2.scss */
  #street-content .street-text h1 span {
    font-size: 3em;
  }
  /* line 91, ../sass/_partials/_components/_panel2.scss */
  #street-content .street-text p {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1em;
    max-width: 80%;
    margin: 1em auto;
  }
}
@media screen and (min-width: 1200px) {
  /* line 100, ../sass/_partials/_components/_panel2.scss */
  #street-content .street-text h1 {
    font-size: 11.7rem;
  }
  /* line 102, ../sass/_partials/_components/_panel2.scss */
  #street-content .street-text h1 span {
    font-size: 15rem;
  }
  /* line 106, ../sass/_partials/_components/_panel2.scss */
  #street-content .street-text p {
    font-size: 1.67em;
    max-width: 56rem;
    line-height: 2.0em;
    margin: auto;
    margin-top: 1%;
  }
}

/* line 10, ../sass/_partials/_index.scss */
#street-content .bottom {
  position: absolute;
  width: 100%;
}

/* line 17, ../sass/_partials/_index.scss */
#people #ye-olde-ie body h1, #map #ye-olde-ie body h1, #boxes #ye-olde-ie body h1, #apartment #ye-olde-ie body h1, #clock #ye-olde-ie body h1, #heatwave #ye-olde-ie body h1, #phone #ye-olde-ie body h1, #balloons #ye-olde-ie body h2, #ye-olde-ie body .block, #ye-olde-ie body #stats-text-1, #ye-olde-ie body #installer > div > h1, #ye-olde-ie body #thanks h1, #ye-olde-ie body #people h1, #ye-olde-ie body #map h1, #ye-olde-ie body #boxes h1, #ye-olde-ie body #apartment h1, #ye-olde-ie body #clock h1, #ye-olde-ie body #heatwave h1, #ye-olde-ie body #phone h1, #ye-olde-ie body #balloons h2 {
  background-color: #fff;
  border-right: solid 1px #999;
  border-bottom: solid 1px #999;
}

/* line 25, ../sass/_partials/_index.scss */
#thanks-bubble, #thanks-bubble-cover {
  position: absolute;
  left: 182px;
  top: 233px;
}

/* line 33, ../sass/_partials/_index.scss */
#thanks-text, #thanks-text-cover {
  position: absolute;
  left: 200px;
  top: 300px;
}

/* line 41, ../sass/_partials/_index.scss */
#outro-social-media > div > a, #outro-social-media > div > a > span {
  height: 114px;
  display: inline-block;
  float: left;
}

/* line 48, ../sass/_partials/_index.scss */
* {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 53, ../sass/_partials/_index.scss */
body {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
/* line 58, ../sass/_partials/_index.scss */
body h1 {
  font-weight: 700;
}

/* line 63, ../sass/_partials/_index.scss */
section {
  display: block;
  position: relative;
  height: 900px;
  width: 100%;
  overflow: hidden;
}
/* line 69, ../sass/_partials/_index.scss */
section.double {
  height: 1800px;
}

/* line 74, ../sass/_partials/_index.scss */
.wrapper-large {
  position: relative;
  left: 50%;
  margin-left: -800px;
  width: 1600px;
}

/* line 80, ../sass/_partials/_index.scss */
.wrapper-small {
  margin: auto;
  width: 100%;
}

/* line 84, ../sass/_partials/_index.scss */
.scroll-wrapper {
  left: 0;
  right: 0;
}

/* line 88, ../sass/_partials/_index.scss */
.wow {
  color: #129c8a;
}

/* line 91, ../sass/_partials/_index.scss */
#scroll-wrapper-body {
  position: fixed;
  width: 100%;
}

/* line 95, ../sass/_partials/_index.scss */
#main {
  width: 15px;
  position: fixed;
  top: 50%;
  margin-top: -223px;
  right: 50px;
  z-index: 9001;
  overflow-x: hidden;
}
/* line 104, ../sass/_partials/_index.scss */
#main > span {
  cursor: pointer;
  position: relative;
  height: 15px;
  display: block;
  margin-bottom: 10px;
  background-image: url("../assets/nav/inactive.png?1379444299");
  background-position: top right;
  background-repeat: no-repeat;
}
/* line 113, ../sass/_partials/_index.scss */
#main > span > img {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
/* line 120, ../sass/_partials/_index.scss */
#main > span[id="play"] {
  background: none;
}
/* line 123, ../sass/_partials/_index.scss */
#main > span[id="back-to-top"] {
  background: none;
}

/* line 128, ../sass/_partials/_index.scss */
#scrollto {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 9000;
}

/* line 134, ../sass/_partials/_index.scss */
#backtotop {
  position: fixed;
  top: 80px;
  right: 50px;
  z-index: 9000;
}

/* line 141, ../sass/_partials/_index.scss */
#addthis {
  margin-top: 18px;
  display: inline-block;
  float: right;
  height: 59px;
}
/* line 146, ../sass/_partials/_index.scss */
#addthis .addthis_toolbox > a {
  float: left;
  margin-left: 20px;
}

/* line 152, ../sass/_partials/_index.scss */
#intro-play {
  margin-bottom: -16px;
  cursor: pointer;
}

/* line 158, ../sass/_partials/_index.scss */
#thanks {
  background-image: url("../assets/bgphotos/brick.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
  color: black;
}
/* line 164, ../sass/_partials/_index.scss */
#thanks .panel {
  position: absolute;
  width: 50%;
  height: 100%;
}
/* line 168, ../sass/_partials/_index.scss */
#thanks .panel.left {
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: left;
  font-size: 3rem;
  line-height: 3.8rem;
}
/* line 174, ../sass/_partials/_index.scss */
#thanks .panel.left h1 {
  position: absolute;
  right: 9%;
  margin: 0;
  top: 50%;
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
/* line 182, ../sass/_partials/_index.scss */
#thanks .panel.right {
  right: 0;
}
/* line 184, ../sass/_partials/_index.scss */
#thanks .panel.right .circle {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: calc(50vh - 225px );
  left: calc(25vw - 225px );
  padding: 5%;
}
/* line 193, ../sass/_partials/_index.scss */
#thanks .panel.right .circle h1 {
  font-size: 11rem;
  padding: auto;
  display: block;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

/* line 206, ../sass/_partials/_index.scss */
#people {
  background-color: #48c4f2;
}
/* line 208, ../sass/_partials/_index.scss */
#people h1 {
  position: absolute;
  top: 359px;
}

/* line 216, ../sass/_partials/_index.scss */
#map {
  background-color: #ebebe9;
}
/* line 218, ../sass/_partials/_index.scss */
#map h1 {
  position: absolute;
  width: 720px;
  top: 138px;
  margin: auto 99px;
}
/* line 228, ../sass/_partials/_index.scss */
#map > div {
  position: relative;
}

/* line 232, ../sass/_partials/_index.scss */
#boxes {
  background-color: #ebebe9;
  background-image: url("../assets/conveyor-belt-bg.png?1378923365");
  background-repeat: repeat-x;
  background-position: 20px 100%;
}
/* line 237, ../sass/_partials/_index.scss */
#boxes h1 {
  position: absolute;
  top: 173px;
}
/* line 245, ../sass/_partials/_index.scss */
#boxes > div {
  position: relative;
  height: 900px;
}

/* line 250, ../sass/_partials/_index.scss */
#installer {
  background-color: #51bfa3;
  background-image: url("../assets/installer-floor.png?1378926212");
  background-position: 0 791px;
  background-repeat: repeat-x;
}
/* line 256, ../sass/_partials/_index.scss */
#installer > div > h1 {
  position: absolute;
}
/* line 260, ../sass/_partials/_index.scss */
#installer > div > img {
  position: absolute;
}

/* line 265, ../sass/_partials/_index.scss */
#apartment {
  background-color: #1e7ea2;
  overflow: hidden;
}
/* line 268, ../sass/_partials/_index.scss */
#apartment h1 {
  position: absolute;
  top: 329px;
}
/* line 276, ../sass/_partials/_index.scss */
#apartment > .wrapper-small {
  position: relative;
}

/* line 280, ../sass/_partials/_index.scss */
#clock {
  background-image: url("../assets/clock-wallpaper.png?1378930756");
}
/* line 282, ../sass/_partials/_index.scss */
#clock h1 {
  position: absolute;
}
/* line 286, ../sass/_partials/_index.scss */
#clock img {
  position: absolute;
}
/* line 292, ../sass/_partials/_index.scss */
#clock > div {
  position: relative;
}

/* line 296, ../sass/_partials/_index.scss */
#heatwave {
  background-image: url("../assets/heat-wave-bg.png?1378932070");
}
/* line 298, ../sass/_partials/_index.scss */
#heatwave h1 {
  position: absolute;
}
/* line 305, ../sass/_partials/_index.scss */
#heatwave > div {
  position: relative;
}

/* line 309, ../sass/_partials/_index.scss */
#stats-text-1 {
  top: 329px;
}

/* line 313, ../sass/_partials/_index.scss */
#phone {
  background-color: #87cc5a;
}
/* line 315, ../sass/_partials/_index.scss */
#phone h1 {
  position: absolute;
  top: 324px;
  width: 720px;
  margin: auto 99px;
}
/* line 325, ../sass/_partials/_index.scss */
#phone > div {
  position: relative;
}

/* line 329, ../sass/_partials/_index.scss */
#balloons {
  background-color: #73d9ff;
  overflow-y: hidden;
  background-image: url("../assets/bank.png?1379016639");
  background-repeat: repeat-x;
  background-position: 0 770px;
  height: 970px;
}
/* line 336, ../sass/_partials/_index.scss */
#balloons h2 {
  position: absolute;
  top: 329px;
}
/* line 344, ../sass/_partials/_index.scss */
#balloons > div {
  position: relative;
}
/* line 347, ../sass/_partials/_index.scss */
#balloons > div > img {
  position: absolute;
}
/* line 350, ../sass/_partials/_index.scss */
#balloons > div > div {
  position: relative;
}
/* line 352, ../sass/_partials/_index.scss */
#balloons > div > div > img {
  position: absolute;
}

/* line 360, ../sass/_partials/_index.scss */
#ye-olde-ie body {
  font-family: "Roboto Slab", serif;
}
/* line 368, ../sass/_partials/_index.scss */
#ye-olde-ie body h1 {
  font-weight: bold;
}
/* line 371, ../sass/_partials/_index.scss */
#ye-olde-ie body h2 {
  font-weight: bold;
}
/* line 407, ../sass/_partials/_index.scss */
#ye-olde-ie a > img {
  border: 0;
}

/* line 420, ../sass/_partials/_index.scss */
#thanks-text-cover {
  width: 160px;
}

/* line 424, ../sass/_partials/_index.scss */
#outro-social-media {
  margin: 10px 121px;
  width: 738px;
  height: 114px;
}
/* line 428, ../sass/_partials/_index.scss */
#outro-social-media > div > a {
  width: 20%;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 433, ../sass/_partials/_index.scss */
#outro-social-media > div > a:hover {
  opacity: 1;
}
/* line 436, ../sass/_partials/_index.scss */
#outro-social-media > div > a:focus {
  outline: none;
}
/* line 439, ../sass/_partials/_index.scss */
#outro-social-media > div > a > span {
  width: 0;
}

/* line 447, ../sass/_partials/_index.scss */
#veronica {
  position: absolute;
  display: block;
  height: 132px;
  width: 98px;
  top: 352px;
  left: 100px;
}
/* line 454, ../sass/_partials/_index.scss */
#veronica > img {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 460, ../sass/_partials/_index.scss */
.heads {
  width: 350%;
  height: 180px;
  background-image: url("../assets/heads.png?1378400627");
  background-repeat: repeat-x;
  position: absolute;
  background-position: 0 12px;
}

/* line 468, ../sass/_partials/_index.scss */
#heads-1 {
  top: 0;
}

/* line 471, ../sass/_partials/_index.scss */
#heads-2 {
  top: 180px;
}

/* line 474, ../sass/_partials/_index.scss */
#heads-3 {
  top: 360px;
}

/* line 477, ../sass/_partials/_index.scss */
#heads-4 {
  top: 540px;
}

/* line 480, ../sass/_partials/_index.scss */
#heads-5 {
  top: 720px;
}

/* line 483, ../sass/_partials/_index.scss */
#participants {
  background-color: #48c4f2;
  overflow: hidden;
}
/* line 486, ../sass/_partials/_index.scss */
#participants h1 {
  font-size: 51px;
  color: #fff;
  width: 100%;
  margin: 0;
}
/* line 492, ../sass/_partials/_index.scss */
#participants .wrapper-large {
  position: relative;
}
/* line 495, ../sass/_partials/_index.scss */
#participants .wrapper-large > div {
  position: absolute;
}
/* line 498, ../sass/_partials/_index.scss */
#participants .wrapper-large > h1 {
  position: absolute;
}
/* line 503, ../sass/_partials/_index.scss */
#participants .wrapper-small {
  position: relative;
}
/* line 506, ../sass/_partials/_index.scss */
#participants .wrapper-small > div {
  position: absolute;
}
/* line 509, ../sass/_partials/_index.scss */
#participants .wrapper-small > h1 {
  position: absolute;
}

/* line 515, ../sass/_partials/_index.scss */
#participants-1 {
  top: 400px;
  text-align: center;
  width: 100%;
}

/* line 520, ../sass/_partials/_index.scss */
#participants-2 {
  width: 850px;
  margin: 0 65px;
  top: 300px;
}

/* line 525, ../sass/_partials/_index.scss */
#participants-2-a {
  top: 0;
  left: 0;
}

/* line 529, ../sass/_partials/_index.scss */
#participants-percent {
  width: 842px;
  height: 305px;
  overflow: hidden;
  background-color: #fff;
  margin-left: 12px;
  position: relative;
}

/* line 537, ../sass/_partials/_index.scss */
#seventy-percent {
  position: absolute;
}

/* line 540, ../sass/_partials/_index.scss */
#seventy-stripes {
  position: absolute;
  top: 70px;
}

/* line 544, ../sass/_partials/_index.scss */
#participants-2-b {
  text-align: right;
}

/* line 547, ../sass/_partials/_index.scss */
h2[class^="map-percentage-"] {
  margin: 0;
  width: 113px;
  height: 113px;
  display: inline-block;
  font-size: 43px;
  line-height: 113px;
  text-align: center;
}

/* line 556, ../sass/_partials/_index.scss */
h2[class^="map-percentage-"][class*="light"] {
  background-image: url("../assets/circle-light.png?1378404680");
  color: #515151;
}

/* line 560, ../sass/_partials/_index.scss */
h2[class^="map-percentage-"][class*="dark"] {
  background-image: url("../assets/circle-dark.png?1378404665");
  color: #fff;
}

/* line 564, ../sass/_partials/_index.scss */
.borough {
  height: 900px;
  position: absolute;
}
/* line 567, ../sass/_partials/_index.scss */
.borough h2 {
  position: absolute;
}
/* line 570, ../sass/_partials/_index.scss */
.borough > img {
  position: absolute;
  width: 100%;
}

/* line 576, ../sass/_partials/_index.scss */
#opacity-10 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}

/* line 580, ../sass/_partials/_index.scss */
#street-lower {
  text-align: center;
  background-color: #0091d9;
  background-image: url(../assets/map.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* line 586, ../sass/_partials/_index.scss */
#street-lower #map-header {
  background-color: #000;
  height: 162px;
  position: relative;
  top: 88px;
}
/* line 591, ../sass/_partials/_index.scss */
#street-lower #map-header h1 {
  position: absolute;
  width: 100%;
  font-size: 56px;
  font-weight: 400;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 601, ../sass/_partials/_index.scss */
#street-lower #map-header h1 span {
  font-weight: 700;
  color: #0091d9;
}

/* line 609, ../sass/_partials/_index.scss */
#map-staten-label {
  bottom: 247px;
  left: 222px;
}

/* line 613, ../sass/_partials/_index.scss */
#staten {
  top: 570px;
  left: 98px;
}

/* line 617, ../sass/_partials/_index.scss */
#map-bronx-label {
  top: 150px;
  left: 651px;
}

/* line 621, ../sass/_partials/_index.scss */
#bronx {
  top: 87px;
  left: 568px;
}

/* line 625, ../sass/_partials/_index.scss */
#map-manhattan-label {
  top: 314px;
  left: 377px;
}

/* line 629, ../sass/_partials/_index.scss */
#manhattan {
  top: 170px;
  left: 425px;
}

/* line 633, ../sass/_partials/_index.scss */
#map-queens-label {
  top: 427px;
  left: 821px;
}

/* line 637, ../sass/_partials/_index.scss */
#queens {
  top: 333px;
  left: 545px;
}

/* line 641, ../sass/_partials/_index.scss */
#fuhgeddaboutit {
  top: 620px;
  left: 352px;
}

/* line 645, ../sass/_partials/_index.scss */
#map-brooklyn-label {
  top: 689px;
  left: 433px;
}

/* line 649, ../sass/_partials/_index.scss */
#brooklyn {
  top: 449px;
  left: 427px;
}

/* line 653, ../sass/_partials/_index.scss */
#smartac-boxes {
  top: 58px;
  position: absolute;
}
/* line 656, ../sass/_partials/_index.scss */
#smartac-boxes > img {
  position: absolute;
  z-index: 1;
}

/* line 661, ../sass/_partials/_index.scss */
#box {
  position: absolute;
  bottom: 62px;
  height: 384px;
}
/* line 665, ../sass/_partials/_index.scss */
#box > img {
  position: absolute;
}

/* line 669, ../sass/_partials/_index.scss */
#box-smartac-box-green {
  top: 32px;
  left: 120px;
}

/* line 673, ../sass/_partials/_index.scss */
#box-smartac-box-yellow {
  top: 32px;
  left: 260px;
}

/* line 677, ../sass/_partials/_index.scss */
#box-smartac-box-grey {
  top: 60px;
  left: 149.01205px;
}

/* line 681, ../sass/_partials/_index.scss */
#box-smartac-box-orange {
  top: 60px;
  left: 289.01205px;
}

/* line 685, ../sass/_partials/_index.scss */
#smartac-box-green {
  left: 84px;
}

/* line 688, ../sass/_partials/_index.scss */
#smartac-box-yellow {
  left: 320px;
}

/* line 691, ../sass/_partials/_index.scss */
#smartac-box-grey {
  left: 555px;
}

/* line 694, ../sass/_partials/_index.scss */
#smartac-box-orange {
  left: 789px;
}

/* line 697, ../sass/_partials/_index.scss */
#box-back {
  left: 32px;
}

/* line 700, ../sass/_partials/_index.scss */
#box-front {
  z-index: 2;
}

/* line 703, ../sass/_partials/_index.scss */
#window {
  top: 253px;
}

/* line 706, ../sass/_partials/_index.scss */
#daul {
  left: 755px;
  top: 440px;
}

/* line 710, ../sass/_partials/_index.scss */
#air {
  left: 406px;
  top: 508px;
}

/* line 714, ../sass/_partials/_index.scss */
#installer-text-1 {
  top: 359px;
}

/* line 717, ../sass/_partials/_index.scss */
#installer-text-2 {
  top: 389px;
}

/* line 720, ../sass/_partials/_index.scss */
#stars-bg {
  opacity: 0.32;
  filter: alpha(opacity=32);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 436px;
  background-image: url("../assets/stars-bg.png?1378928597");
  background-repeat: repeat-x;
  background-position: 50%;
}

/* line 732, ../sass/_partials/_index.scss */
#stars-fg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 231px;
  background-image: url("../assets/stars-fg.png?1378928581");
  background-repeat: repeat-x;
  background-position: 50%;
}

/* line 742, ../sass/_partials/_index.scss */
#apartment-building {
  position: absolute;
  top: 72px;
  left: -109px;
}

/* line 747, ../sass/_partials/_index.scss */
#cuckoo-clock {
  left: 308px;
  top: 92px;
}

/* line 751, ../sass/_partials/_index.scss */
#clock-door-left {
  top: 211px;
  left: 432px;
}

/* line 755, ../sass/_partials/_index.scss */
#clock-door-right {
  top: 211px;
  left: 491px;
}

/* line 759, ../sass/_partials/_index.scss */
#clock-flag-left {
  top: 440px;
  left: 182px;
}

/* line 763, ../sass/_partials/_index.scss */
#clock-flag-right {
  top: 440px;
  right: 182px;
}

/* line 767, ../sass/_partials/_index.scss */
#clock-text-1 {
  top: 359px;
}

/* line 770, ../sass/_partials/_index.scss */
#clock-text-2 {
  top: 359px;
}

/* line 773, ../sass/_partials/_index.scss */
#heatwave-text-1 {
  top: 359px;
}

/* line 776, ../sass/_partials/_index.scss */
#heatwave-text-2 {
  top: 329px;
}

/* line 779, ../sass/_partials/_index.scss */
#week {
  position: absolute;
  left: 50px;
  top: 273px;
}
/* line 783, ../sass/_partials/_index.scss */
#week > img {
  position: absolute;
}

/* line 787, ../sass/_partials/_index.scss */
#monday {
  left: 15px;
}

/* line 790, ../sass/_partials/_index.scss */
#tuesday {
  left: 195px;
}

/* line 793, ../sass/_partials/_index.scss */
#wednesday {
  left: 375px;
}

/* line 796, ../sass/_partials/_index.scss */
#thursday {
  left: 555px;
}

/* line 799, ../sass/_partials/_index.scss */
#friday {
  left: 735px;
}

/* line 802, ../sass/_partials/_index.scss */
#stats {
  background-color: #ebebe9;
  z-index: 1;
  overflow: hidden;
}
/* line 806, ../sass/_partials/_index.scss */
#stats h2 {
  position: absolute;
}
/* line 809, ../sass/_partials/_index.scss */
#stats > div {
  position: relative;
  height: 900px;
}
/* line 812, ../sass/_partials/_index.scss */
#stats > div > img {
  position: absolute;
}

/* line 817, ../sass/_partials/_index.scss */
#groovy-bubble {
  position: absolute;
  left: 209px;
  bottom: 115px;
}
/* line 821, ../sass/_partials/_index.scss */
#groovy-bubble > img {
  position: absolute;
}

/* line 825, ../sass/_partials/_index.scss */
#stats-text-2 {
  color: #fb6d17;
  font-style: italic;
  font-size: 67px;
  width: 600px;
  text-align: center;
  left: 190px;
  top: 289px;
}

/* line 834, ../sass/_partials/_index.scss */
.stats {
  height: 900px;
  width: 326px;
  position: absolute;
}

/* line 839, ../sass/_partials/_index.scss */
.stats-text {
  position: absolute;
  padding-left: 33px;
  bottom: 355px;
  width: 260px;
  z-index: 1;
}
/* line 845, ../sass/_partials/_index.scss */
.stats-text h3 {
  margin: 0;
  font-weight: 800;
  border-bottom: solid 5px;
  font-size: 40px;
  line-height: 45px;
  padding-bottom: 15px;
}
/* line 853, ../sass/_partials/_index.scss */
.stats-text h4 {
  margin: 0;
  font-weight: 800;
  font-size: 85px;
}
/* line 858, ../sass/_partials/_index.scss */
.stats-text h5 {
  position: absolute;
  margin-top: -10px;
  font-style: italic;
}

/* line 864, ../sass/_partials/_index.scss */
.stats-circle {
  opacity: 0.7;
  filter: alpha(opacity=70);
  position: absolute;
  left: 33px;
  z-index: 0;
}

/* line 871, ../sass/_partials/_index.scss */
#stats-1 {
  left: 0;
  color: #fb6d17;
}
/* line 874, ../sass/_partials/_index.scss */
#stats-1 h2 {
  border-bottom-color: #fb6d17;
}

/* line 878, ../sass/_partials/_index.scss */
#stats-2 {
  left: 326px;
  color: #f9a61a;
}
/* line 881, ../sass/_partials/_index.scss */
#stats-2 h2 {
  border-bottom-color: #f9a61a;
}

/* line 885, ../sass/_partials/_index.scss */
#stats-3 {
  left: 652px;
  color: #51bfa3;
}
/* line 888, ../sass/_partials/_index.scss */
#stats-3 h2 {
  border-bottom-color: #51bfa3;
}

/* line 892, ../sass/_partials/_index.scss */
#violet {
  left: 50px;
  bottom: 0;
}

/* line 896, ../sass/_partials/_index.scss */
#stats-bubble {
  left: 0;
  bottom: 0;
}

/* line 900, ../sass/_partials/_index.scss */
#groovy {
  left: 36px;
  bottom: 62px;
}

/* line 904, ../sass/_partials/_index.scss */
#groovy-text-cover {
  left: 36px;
  bottom: 62px;
  height: 69px;
  width: 161px;
}

/* line 910, ../sass/_partials/_index.scss */
#letter {
  background-image: url("../assets/letter-bg.png?1379001181");
  z-index: 0;
}
/* line 913, ../sass/_partials/_index.scss */
#letter > div {
  position: relative;
}
/* line 916, ../sass/_partials/_index.scss */
#letter > div > img {
  position: absolute;
}
/* line 919, ../sass/_partials/_index.scss */
#letter > div > div {
  position: absolute;
}

/* line 925, ../sass/_partials/_index.scss */
#confetti-1 {
  opacity: 0.8;
  filter: alpha(opacity=80);
  left: -40px;
}

/* line 930, ../sass/_partials/_index.scss */
#confetti-2 {
  opacity: 0.5;
  filter: alpha(opacity=50);
  left: -37px;
}

/* line 935, ../sass/_partials/_index.scss */
#confetti-3 {
  opacity: 0.6;
  filter: alpha(opacity=60);
  left: -32px;
}

/* line 940, ../sass/_partials/_index.scss */
#confetti-4 {
  opacity: 0.5;
  filter: alpha(opacity=50);
  left: -112px;
}

/* line 945, ../sass/_partials/_index.scss */
#envelope {
  background-color: #e0dfd2;
  width: 630px;
  height: 427px;
  left: 175px;
  top: 339px;
}
/* line 951, ../sass/_partials/_index.scss */
#envelope > img {
  position: absolute;
}

/* line 955, ../sass/_partials/_index.scss */
#envelope-top-up {
  left: -1px;
  top: -271px;
}

/* line 959, ../sass/_partials/_index.scss */
#envelope-front {
  left: -2px;
  top: -6px;
}

/* line 963, ../sass/_partials/_index.scss */
#envelope-bottom {
  left: -1px;
  bottom: 0;
}

/* line 967, ../sass/_partials/_index.scss */
#envelope-letter {
  left: 26px;
  top: 10px;
}

/* line 971, ../sass/_partials/_index.scss */
#envelope-top-down {
  left: -1px;
  top: 0;
}

/* line 975, ../sass/_partials/_index.scss */
.phone {
  width: 326px;
  height: 900px;
  float: left;
  position: absolute;
}
/* line 980, ../sass/_partials/_index.scss */
.phone > img {
  position: absolute;
  left: 50px;
  top: 212px;
}

/* line 986, ../sass/_partials/_index.scss */
#phone-1 {
  left: 0;
}

/* line 989, ../sass/_partials/_index.scss */
#phone-2 {
  left: 326px;
}

/* line 992, ../sass/_partials/_index.scss */
#phone-3 {
  left: 652px;
}

/* line 995, ../sass/_partials/_index.scss */
#bars {
  top: 357px;
  left: 92px;
}

/* line 999, ../sass/_partials/_index.scss */
#line {
  top: 370px;
  left: 92px;
}

/* line 1003, ../sass/_partials/_index.scss */
#switches {
  top: 373px;
  left: 179px;
}

/* line 1007, ../sass/_partials/_index.scss */
#balloon-1 {
  right: 58px;
  top: 146px;
}

/* line 1011, ../sass/_partials/_index.scss */
#balloon-2 {
  left: 163px;
  top: 89px;
}

/* line 1015, ../sass/_partials/_index.scss */
#balloon-3 {
  top: -95px;
  left: 523px;
}

/* line 1019, ../sass/_partials/_index.scss */
#balloon-cloud-small-flipped {
  right: 61px;
  top: 90px;
}

/* line 1023, ../sass/_partials/_index.scss */
#balloon-cloud-small {
  left: 339px;
  top: 139px;
}

/* line 1027, ../sass/_partials/_index.scss */
#balloon-cloud-big {
  right: 186px;
  top: 452px;
}

/* line 1031, ../sass/_partials/_index.scss */
#balloon-cloud-1 {
  right: 575px;
  top: 631px;
}

/* line 1035, ../sass/_partials/_index.scss */
#balloon-cloud-2 {
  left: -44px;
  top: 514px;
}

/* line 1039, ../sass/_partials/_index.scss */
#balloon-cloud-3 {
  right: -29px;
  top: 160px;
}

/* line 1043, ../sass/_partials/_index.scss */
#balloon-cloud-4 {
  left: 279px;
  top: 203px;
}

/* line 1047, ../sass/_partials/_index.scss */
#outro {
  background-color: #fff;
  height: 830px;
}
/* line 1050, ../sass/_partials/_index.scss */
#outro h1 {
  text-align: center;
  font-size: 143px;
  line-height: 220px;
  width: 708px;
  border-bottom: solid 8px #73d9ff;
  margin: 0 136px;
}
/* line 1058, ../sass/_partials/_index.scss */
#outro h2 {
  text-align: center;
  font-size: 65px;
  line-height: 80px;
  margin: 10;
}
/* line 1064, ../sass/_partials/_index.scss */
#outro h3 {
  color: #73d9ff;
  font-size: 23px;
  font-style: italic;
  width: 708px;
  margin: 16px 136px;
}
/* line 1071, ../sass/_partials/_index.scss */
#outro > div {
  position: relative;
}

/* line 1075, ../sass/_partials/_index.scss */
#fb {
  background-image: url("../assets/fb.png?1379019070");
}
/* line 1077, ../sass/_partials/_index.scss */
#fb:hover {
  background-image: url("../assets/fb-hover.png?1379019105");
}

/* line 1081, ../sass/_partials/_index.scss */
#twitter {
  background-image: url("../assets/twitter.png?1379019143");
}
/* line 1083, ../sass/_partials/_index.scss */
#twitter:hover {
  background-image: url("../assets/twitter-hover.png?1379019129");
}

/* line 1087, ../sass/_partials/_index.scss */
#pinterest {
  background-image: url("../assets/pinterest.png?1379019157");
}
/* line 1089, ../sass/_partials/_index.scss */
#pinterest:hover {
  background-image: url("../assets/pinterest-hover.png?1379019169");
}

/* line 1093, ../sass/_partials/_index.scss */
#email {
  background-image: url("../assets/email.png?1379019205");
}
/* line 1095, ../sass/_partials/_index.scss */
#email:hover {
  background-image: url("../assets/email-hover.png?1379019216");
}

/* line 1099, ../sass/_partials/_index.scss */
#googleplus {
  background-image: url("../assets/googleplus.png?1379019194");
}
/* line 1101, ../sass/_partials/_index.scss */
#googleplus:hover {
  background-image: url("../assets/googleplus-hover.png?1379019181");
}

/* line 1105, ../sass/_partials/_index.scss */
#outro-text-1 {
  padding-top: 200px;
  position: absolute;
}

/* line 1109, ../sass/_partials/_index.scss */
#outro-text-2 {
  padding-top: 120px;
  position: absolute;
}

/* line 1113, ../sass/_partials/_index.scss */
#closing {
  width: 737px;
  margin: 10px 122px;
  height: 32px;
  font-size: 16px;
  position: absolute;
  top: 750px;
}
/* line 1120, ../sass/_partials/_index.scss */
#closing > p {
  display: inline-block;
  margin: 0;
  line-height: 51px;
  color: #48c4f2;
  font-weight: 600;
}
/* line 1126, ../sass/_partials/_index.scss */
#closing > p > a {
  font-style: italic;
  color: #515151;
  text-decoration: none;
}
/* line 1130, ../sass/_partials/_index.scss */
#closing > p > a:hover {
  text-decoration: underline;
}

/* line 1136, ../sass/_partials/_index.scss */
#logos {
  float: right;
}

/* line 1139, ../sass/_partials/_index.scss */
#ie a > img {
  border: 0;
}

/* line 1146, ../sass/_partials/_index.scss */
.shorty #map-bronx-label {
  top: 240px;
  z-index: 2;
}
/* line 1150, ../sass/_partials/_index.scss */
.shorty #outro-text-2 {
  padding-top: 160px;
}
/* line 1155, ../sass/_partials/_index.scss */
.shorty #map h1 {
  top: 350px;
}
/* line 1158, ../sass/_partials/_index.scss */
.shorty #boxes h1 {
  top: 300px;
  z-index: 3;
}
