#taxi {
	background-image: url("../assets/bgphotos/taxis.jpg");
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	#circle-wrapper {
		width: 100%;
		height: 100%;
		padding: 0px 3%;
		position: relative;
		#circles {
			width: 100%;
			height: 100%;
			display: table;
			text-align: center;
			.circle {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				div {
					background-color: $black_60;
					@include border-radius(50%);
					width: 25vw;
					height: 25vw;
					margin: auto;
				}
			}
		}
	}
}
