$footer_height: 11%;

header {
    min-height: 86px;
    background-color: $white;
    img {
        margin-top: 9px;
        width: 159px;
    }
    #tagline {
        color: $color_cerulean_approx;
        margin-top: 7px;
        font-size: .75em;
        font-weight: normal;
        font-family: $font_1;
    }
}

#intro-content {
    @include background-size(cover);
    background-repeat: no-repeat;
    background-image: url("../assets/bgphotos/sky600.jpg");
    background-position: center center;
    background-attachment: fixed;
    height: calc(100% - #{$footer_height} - 86px);
    width: 100%;

    @include break-min($main-break-lg){
        background-image: url("../assets/bgphotos/sky1200.jpg");
    }
    @include break-min($main-break-xxtrlg){
        background-image: url("../assets/bgphotos/sky.jpg");
    }
    #intro-content-top {
        background-color: $white_50;
        height: 50%;
        text-align: center;
        color: $color_blue;
        position: relative;
        #intro-title {
            padding: 2%;
            position: absolute;
            width: 100%;
            margin: 0;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            @include transform(translate(-50%, -50%));
            font-size: 2.7rem;
            @include break-min($main-break-lg) {
                font-size: 3.5rem;
            }
            @include break-min($main-break-xxtrlg) {
                font-size: 4rem;
            }
        }
    }   
}

#intro-content-bottom {
    display: block;
    position: relative;
    height: 50%;
    padding: 2%;
    #intro-section {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        @include transform(translate(-50%, -50%));        
            text-align: center;
            #intro-year {
                display: block;
                font-size: 5.6rem;
                font-weight: 700;
            }
            #intro-text {
                font-size: .9rem;
                line-height: 1.75rem;
                display: block;
                margin: 5px auto;
                width: 22rem;
            }
      
        @include break-min($panel1-text-break){
            min-width: 100%;
            margin: auto;
            #intro-year {
                font-size: 5em;
                font-weight: 700;
                display: inline-block;
            }
            #intro-text {
               font-size: .85em;
               line-height: 1.75em;
               width: 27rem;
               text-align: left;
               margin-left: 2%;
               display: inline-block;
            }
        }
            @include break-min($main-break-xtrlg) {
            min-width: 100%;
            margin: auto;
              #intro-year {
                  font-size: 5.2rem;
                  margin-left: 1.5rem;
                  font-weight: 700;
                  display: inline-block;
              }
               #intro-text {
                    font-size: .9rem;
                    line-height: 1.8em;
                    text-align: left;
                    margin-left: 1.2rem;
                    display: inline-block;
                    width: 29rem;
                }
            }   
            @include break-min($main-break-xxtrlg) {
            min-width: 100%;
            margin: auto;
              #intro-year {
                  font-size: 7rem;
                  font-weight: 700;
                  display: inline-block;
                  margin-left: 4rem;
              }
               #intro-text {
                    font-size: 1em;
                    line-height: 2rem;
                    text-align: left;
                    margin-left: 2.3rem;
                    display: inline-block;
                    width: 35rem;
                }
            }   
        } 
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $white;
    text-align: center;
    color: #0E9DD8;
    padding: 1%;
    font-style: italic;
    min-height: $footer_height;
    font-size: .8em;
    h3{
        display:block;
        margin-top: .2rem;
    }
    #intro-scroll {
        display: none;
    }    
}
    