#nycave {
	background-image: url("../assets/bgphotos/nycave450.jpg");
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: top center;
	@include break-min($main-break){
	    background-image: url("../assets/bgphotos/nycave600.jpg");
	}
	@include break-min($main-break-lg){
	    background-image: url("../assets/bgphotos/nycave1200.jpg");
	}
	@include break-min($main-break-xxtrlg){
	    background-image: url("../assets/bgphotos/nycave.jpg");
	}
	> h1 {
		font-size: 1.6rem;
		font-weight: 700;
		width: 100%;
		display: block;
		margin: auto;
		position: absolute;
		line-height: 1.9rem;
		height: 12rem;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		@include text-shadow(rgba(0, 0, 0, 0.4) 6px 4px 5px); 
		@include break-min($panel3-text-break) {
			font-size: 2.6rem;
			line-height: 2.9rem;
		}
		@include break-min($main-break-xtrlg) {
			font-size: 3.5rem;
			line-height: 3.5rem;
		}
		@include break-min($main-break-xxtrlg) {
			font-size: 4.2rem;
			line-height: 4.2rem;
		}
	}
}