#fence {
	background-image: url("../assets/bgphotos/fence350.jpg");
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: center center;
	@include break-min($main-break){
	    background-image: url("../assets/bgphotos/fence600.jpg");
	}
	@include break-min($main-break-lg){
	    background-image: url("../assets/bgphotos/fence1200.jpg");
	}
	@include break-min($main-break-xxtrlg){
	    background-image: url("../assets/bgphotos/fence.jpg");
	}
	#diamond {
		width: 0;
		height: 0;
		border: 50px solid transparent;
		border-bottom: 70px solid $white;
		position: relative;
		background-color: transparent;
		top: -50px;
	}
	#diamond:after {
		content: '';
		position: absolute;
		left: -50px; top: 70px;
		width: 0;
		height: 0;
		border: 50px solid transparent;
		border-top: 70px solid $white;
	}
}
