#street-upper {
  background-image: url("../assets/bgphotos/street.jpg");
  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#street-content{
  position: relative;
  text-align: center;
  min-height: 62%;
  background-color: $black_60;
  top: 15%; 
  .bottom {
    min-height: 1.5%;
    background-color: $white;
    top: 557px;
    @extend %verticalboxes;
  }
  .top {
    position: absolute;
    &.left{
      top: 12%;
      left: 0px;
      min-width: 22%;
      min-height: 1.5%;
      background-color: $white;
      &.blue {
      background-color: $color_blue;
     }
    }
    &.right{
      top: 12%;
      min-height: 1.5%;
      left: 31%;
       &.blue {
       background-color: $color_blue;
       width:0px;
      }
      &.white {
        background-color: $white;
        min-width: 69%;
      }
    }
    &.asterick {
      height: 10%;
      top: 7.5%;
      left: 21.55%;
     }    
    }
  }
  .street-text {
      position: absolute;
      width: 100%;
      margin: auto;
      top: 55%;
      left: 50%;
      padding: 5%;
      margin-right: -50%;
      @include transform(translate(-50%, -50%));
      h1 {
        font-size: 4.5rem;
        span {
        font-size: 5.5rem;
        }
      }
      p {
        font-size: 1.4rem;
        max-width: 44rem;
        line-height: 2.3rem;
        margin: auto;
        margin-top: 3%;
      }
      @include break-min($main-break-lg){
        h1 {
          font-size: 6.5rem;
          span {
          font-size: 8.3rem;
          }
        }
        p {
          font-size: 1.4rem;
          max-width: 34rem;
          line-height: 2.6rem;
          margin: auto;
          margin-top: 3%;
        }
      }
      @include break-min($panel2-text-break){
        h1 {
          font-size: 10rem;
          span {
          font-size: 12.5rem;
          }
        }
        p {
          font-size: 1.6rem;
          max-width: 44rem;
          line-height: 2.6rem;
          margin: auto;
          margin-top: 1%;
        }
      }    

}