#brick {
	background-image: url("../assets/bgphotos/brick600.jpg");
	background-repeat: no-repeat;
	@include background-size(cover);
	overflow: visible;
	color: black;
	font-size: 7px;
	@include break-min($panel4-text-break4){
		font-size: 8px;
	}
	@include break-min($main-break-lg){
		background-image: url("../assets/bgphotos/brick1200.jpg");
		font-size: 10px;
	}
	@include break-min($panel4-text-break3){
		font-size: 12px;
	}
	@include break-min($panel4-text-break){
		font-size: 14px;
	}
	@include break-min($panel4-text-break2){
		font-size: 16px;
	}
	@include break-min($main-break-xxtrlg){
		background-image: url("../assets/bgphotos/brick.jpg");
		font-size: 18px;
	}
	@include break-min($main-break-xxxtrlg){
		font-size: 20px;
	}
	.panel {
		width: 50%;
		height: 100%;
		left: 0;
		background-color: $white_60;
		text-align: left;		
	}
	#brick-content {
		width: 90%;
		  height: 80%;
		  margin: auto;
		  position: absolute;
		  top:0;
		  bottom:0;
		  right:0;
		  left:0;
		 > div{
			width: 50%;
			 position: relative;
			 top:0;
			 height:100%;
			 &:first-of-type{
			h1 {
				position: absolute;
				right: 1em;
				width: 10em;
				font-size: 2.5em;
				line-height: 1.3em;
				text-align: left;
				margin: auto;
				top: 0;
				bottom: 0;
				height: 5em;
				display: block;
				}
			}
			&:nth-of-type(2n) {
				 right: 0;
				 position: absolute;
				.circle {
					transition: all .5s ease-out;
					width: 22.5em;
					height: 22.5em;
					border-radius: 50%;
					background: $white_60;
					position: absolute;
					right: 0;
					  margin: auto;
					  left:0;
					  top:0;
					  bottom:0;
					padding: 5%;
					h1 {
						font-size: 8.2em;
						padding: auto;
						display: block;
						position: absolute;
						right: 0;
						margin: auto;
						left: 0;
						top: 0;
						bottom: 0;
						height: 1em;
					}
				}
			}
		}
	}
}