#brick {
	background-image: url("../assets/bgphotos/brick.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: visible;
	color: black;
	font-size: 7px;
	@include break-min($panel4-text-break4){
		font-size: 8px;
	}
	@include break-min($main-break-lg){
		font-size: 10px;
	}
	@include break-min($panel4-text-break3){
		font-size: 12px;
	}
	@include break-min($panel4-text-break){
		font-size: 14px;
	}
	@include break-min($panel4-text-break2){
		font-size: 16px;
	}
	@include break-min($main-break-xxtrlg){
		font-size: 18px;
	}
	@include break-min($main-break-xxxtrlg){
		font-size: 20px;
	}
	.panel {
		position: absolute;
		width: 50%;
		height: 100%;
		&.left {
			left: 0;
			background-color: $white_60;
			text-align: left;		
			h1 {
				position: absolute;
				right: 5%;
				margin: .5em;
				width: 10em;
				font-size: 2.5em;
				line-height: 1.3em;
				top: 50%;
				@include transform(translate(0%, -50%));
			}
		}
		&.right {
			right:0;
			.circle {
				width: 22.5em;
				height: 22.5em;
				border-radius: 50%;
				background: $white_60;
				position: absolute;
				top: calc(50vh - 11.25em );
				left: calc(25vw - 11.25em );
				padding: 5%;
				h1 {
					font-size: 8.2em;
					padding: auto;
					display: block;
					position: absolute;
					right: 50%;
					top: 50%;
					transform: translate(50%,-50%);
				}
			}
		}
	}
}