#street-lower {
	font-size: 8px;
	@include break-min($panel3-text-break){
		font-size: 10px;
	}
	@include break-min($panel1-text-break){
		font-size: 12px;
	}
	@include break-min($main-break-xtrlg){
		font-size: 18px;
	}

	@include break-min($main-break-xxtrlg){
		font-size: 20px;
	}
	text-align: center;
	background-color: $color_blue;
	#map-header{
		background-color: $black;
		height: 8.2em;
		top: 10%;
		z-index: 9999;
		position: relative;
		h1 {
			position: absolute;
			width: 100%;
			font-size: 300%;
			margin: 0;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			@include transform(translate(-50%, -50%));
		}

	}
	#map-wrapper{
		position: absolute;
		width: 49em;
		height: 49em;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		#map {
			@include opacity(0.15);
		}
		@include break-max($main-break){
			width: 36em;
			height: 36em;
		}
	}
}
.one 	{
	top: 33em;
	left: 10em;
	position: absolute;
	@include break-max($main-break){
		top: 24em;
		left: 6em;
	}
	.circle-outter {
			background-color: $white_30;
			@include border-radius(50%);
			position: absolute;
			width: 5.2em;
			height: 5.2em;
		}
	.circle-inner {
		@include border-radius(50%);
		background-color: $white_60;
		position: relative;
		left: 0.6em;
		top: 0.6em;
		width: 4em;
		height: 4em;
	}
	h3 {
		display: block;
		font-size: 2.2em;
		height: 1em;
		color: $deep_blue;
		top: 1.2rem;
		left: 1.2rem;
		font-weight: 700;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.line {
		height: .2em;
		width: 11em;
		background-color: #015fd0;
		position: absolute;
		left: 4.9em;
		top: 2.6em;
		display: block;
	}
	p {
		width: 31em;
		display: block;
		position: absolute;
		left: 7em;
		top: 3.2em;
		text-align: left;
		line-height: 1.8em;
		@include break-max($main-break){
			width: 14em;
			left: 4em;
			top: 2.2em;
			font-size: 1.6em;
		}
		@include break-between($main-break, $main-break-lg){
			width: 15em;
			left: 3em;
			top: 2.2em;
			font-size: 2em;
		}
		@include break-between($main-break-lg, $main-break-xtrlg){
			width: 27em;
			left: 5em;
			top: 2.8em;
			font-size: 1.4em;
		}
	}
}
.two {
	top: 18em;
	right: 15em;
	position: absolute;
	@include break-max($main-break){
		top: 11em;
		right: 13em;
	}
	.circle-outter {
		background-color: $white_30;
		@include border-radius(50%);
		position: absolute;
		width: 12.5em;
		height: 12.5em;		
		}
	.circle-inner {
		@include border-radius(50%);
		background-color: $white_60;
		position: relative;
		left: 1.25em;
		top: 1.25em;
		width: 10.1em;
		height: 10.1em;
	}
	h3 {
		display: block;
		font-size: 4em;
		font-weight: 700;
		height: 1em;
		color: $black;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.line {
		height: 0.2em;
		width: 11em;
		background-color: #015fd0;
		position: absolute;
		right: -0.5em;
		top: 6em;
		@include break-min($panel1-text-break){
			height: 0.15em;
		}
	}
	p {
		display: block;
		position: absolute;
		width: 25em;
		right: 1em;
		text-align: right;
		line-height: 1.8em;
		top: 6.7em;
		@include break-max($main-break){
			width: 14em;
			right: 1em;
			top: 4.5em;
			font-size: 1.6em;
		}
		@include break-between($main-break, $main-break-xtrlg){
			width: 21em;
			top: 5em;
			font-size: 1.4em;
		}
		@include break-min($main-break-xtrlg){
			width: 25em;
			top: 6.8em;
			font-size: 1em;
		}
	}
}