#nycave {
	background-image: url("../assets/bgphotos/nycave.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	#nycave-content {
		font-size: 1.6rem;
		font-weight: 700;
		width: 100%;
		margin: 22% auto;
		line-height: 1.9rem;
		@include text-shadow(rgba(0, 0, 0, 0.4) 6px 4px 5px); 
		@include break-min($panel3-text-break) {
			font-size: 2.6rem;
			line-height: 2.9rem;
		}
		@include break-min($main-break-xtrlg) {
			font-size: 3.5rem;
			line-height: 3.5rem;
		}
		@include break-min($main-break-xxtrlg) {
			font-size: 4.2rem;
			line-height: 4.2rem;
		}
	}
}