$footer_height: 11%;

header {
    min-height: 86px;
    background-color: $white;
    img {
        margin-top: 9px;
        width: 159px;
    }
    #tagline {
        color: $color_cerulean_approx;
        margin-top: 7px;
        font-size: .75em;
        font-weight: normal;
        font-family: $font_1;
    }
}

#intro-content {
    @include background-size(cover);
    background-repeat: no-repeat;
    background-image: url("../assets/bgphotos/sky.jpg");
    background-position: center center;
    background-attachment: fixed;
    height: calc(100% - #{$footer_height} - 86px);
    width: 100%;
    #intro-content-top {
        background-color: $white_50;
        height: 50%;
        text-align: center;
        color: $color_blue;
        position: relative;
        #intro-title {
            padding: 2%;
            position: absolute;
            width: 100%;
            margin: 0;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            @include transform(translate(-50%, -50%));
            @include break-min($main-break) {
                font-size: 2.7rem;
        }
            @include break-min($main-break-lg) {
                font-size: 3.5rem;
            }
            @include break-min($main-break-xtrlg) {
                font-size: 4em;
            }
        }
    }   
}

#intro-content-bottom {
    display: block;
    position: relative;
    height: 50%;
    padding: 2%;
    #intro-section {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        @include transform(translate(-50%, -50%));
        @include break-min($main-break) {
            width: 70%;
            text-align: center;
            #intro-year {
                display: block;
                font-size: 6.2em;
                font-weight: 700;
            }
            #intro-text {
                font-size: .9em;
                line-height: 1.75em;
            }
        }
        @include break-min($main-break-lg) {
            min-width: 84%;
            margin: auto;
            #intro-year {
                font-size: 5em;
                font-weight: 700;
                display: inline-block;
            }
            #intro-text {
               font-size: .85em;
               line-height: 1.75em;
               max-width: 63%;
               text-align: left;
               margin-left: 2%;
               display: inline-block;
            }
        }
            @include break-min($main-break-xtrlg) {
            min-width: 100%;
            margin: auto;
              #intro-year {
                  font-size: 7.80em;
                  font-weight: 700;
                  display: inline-block;
              }
               #intro-text {
                    font-size: 1.1em;
                    line-height: 2em;
                    text-align: left;
                    margin-left: 2%;
                    display: inline-block;
                }
            }   
        } 
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $white;
    text-align: center;
    color: $color_cerulean_approx;
    padding: 1%;
    font-style: italic;
    min-height: $footer_height;
    @include break-min($main-break) {
        font-size: 1em;
        .fa {
            font-size: 2.2em;
        }
    }
        @include break-min($main-break-lg) {
            font-size: 1.2em;
            padding-top: 4%;
            .fa {
                font-size: 2em;
            }
       }
        @include break-min($main-break-xtrlg) {
            font-size: 1.2em;
            padding-top: 4%;
            .fa {
                font-size: 2em;
            }
    } 
}
#intro-scroll {
    display: none;
}
    